<div class="themeable themeBgBeige themeFontSetTwo">
    <div class="hero-unit">
        <h1>Welcome to your new book<br></h1>
        This content is just waiting to be edited...<br>
    </div>
    <br>

    <div class="page-header">
        <h1>About "Page One"
            <small>- you're looking at it<br></small>
        </h1>
    </div>
    <br>

    <p>Right now, this is Page One of your book. But you can change it!</p>

    <p>Page One is a topic, and when someone "opens your book to Page One", they'll see whatever content is listed for
        that topic. You could make it a YouTube video, the first slide of a presentation, or you could edit this page
        and add all sorts of content.</p>

    <p><br></p>

    <div class="page-header">
        <h1>Topic links
            <small>many things for a topic, and many topics for a thing<br></small>
        </h1>
    </div>
    <p>Content in an Intelligent Book gets tagged by topic -- but there can be more than one page in the book for a
        topic, and there can be more than one topic tag for a page.<br></p>
</div>
<div class="themeable themeBgBlue themeFontSetThree">
    <div class="page-header">
        <h1>Themeables
            <small>how you can style your wiki pages<br></small>
        </h1>
    </div>
    <br>

    <p>This, and the beige section above are "themeable divs". You can apply various different themes to them from the
        "Themeables" menu in the wiki page editor. You can add more Themeables, and they can be nested inside each other
        too.</p>

    <p>Soon we'll add some fancier themes. <br></p>

    <p><br>
    </p>
</div>
    
    