&nbsp;
<div class="themeable themeBgWhite themeFontSetTwo">
    &nbsp;
	<div class="hero-unit">
        <h1>It's a new page...
            <small>Get editing it!<br></small>
        </h1>
        This content is just waiting to be edited...<br></div>
    <br>

    <div class="page-header">
        <h1>A themeable to get you started
            <small>- you're looking at it<br></small>
        </h1>
    </div>
    <div>And some placeholder text</div>
</div>
<div class="themeable themeBgGray themeBorderTop themeFontSetThree">
    <div class="page-header">
        <h1>A second themeable for something else
            <small>how you can style your wiki pages<br></small>
        </h1>
    </div>
    
	<p>
		The editor needs lots of improvement, of course!
	</p>

    <div class="alert alert-success"><div>And don't forget you can add anchors so that the left and right arrows will jump
        down the page before moving to the next one...</div></div>
    <br>

    <p>Whatever next...
    </p>
</div>
    
    