@headerBgCol: whitesmoke;
@backgroundBgCol: white;
@standardMargin: 20px;


body {
    background-color: @backgroundBgCol;
}
header {
    background-color: @headerBgCol;
}

.hidden {
    display: none;
}

.sideMarg {
    margin-left: @standardMargin;
    margin-right: @standardMargin;
}

.explanation {
    background-color: white;
}

.brand small {
    font-size: 15px;
    font-family: Palatino, Georgia, serif;
    color: whitesmoke;
}

.editControls {
    position: fixed;
    top: 0px;
    z-index: 9999;
}

/*-------------
 *
 * Fixes (overriding Bootstrap behaviour, etc)
 *
 */

/* Override Bootstrap to allow the controls' drop-downs to flow over the edit area */
.editControls .tab-content {
    overflow: visible;
}

/* Standard height button, for beautification of UI controls */
.editControls .btn-group .btn {
    height: 27px;
}


/*-------------
 *
 * UI classes
 *
 */

/* link-like button */
button.linkButton {
    background: transparent;
    margin-left: 5px;
    padding: 2px;
    border: none;
    color: white;
}

/* Show markup */

.bef(@cont: "el") {
    content: @cont;
    color: white;
    background-color: rgba(0,0,0,0.2);
    display: block;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    padding: 2px;
    font-family: sans-serif;
}
.befsp(@cont: "el") {
    content: @cont;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    padding: 2px;
    font-family: sans-serif;
    display: inline;
}

.showMarkup {
    * {
        border: 1px dashed black;
    }

    *:before {
        .bef("el")
    }
    div:before {
        .bef("div")
    }
    p:before {
        .bef("p")
    }
    pre:before {
        .bef("pre")
    }
    ul:before {
        .bef("ul")
    }
    ol:before {
        .bef("ol")
    }
    li:before {
        .bef("li")
    }

    span:before {
        .befsp("span")
    }
    code:before {
        .befsp("code")
    }
    b:before {
        .befsp("b")
    }
    i:before {
        .befsp("i")
    }
    u:before {
        .befsp("u")
    }
    s:before {
        .befsp("s")
    }
    small:before {
        .befsp("small")
    }
    h1:before {
        .befsp("h1")
    }
    h2:before {
        .befsp("h2")
    }
}

/* Allow scrollable dropdowns */
.dropdown-menu.maxh600 {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
}



