#chart {
	/* tell the SVG path to be a thin blue line without any area fill */
	path {
		stroke-width: 1;
		fill: none;
	}
	
	.data1 {
		stroke: green;
	}

	.data2 {
		stroke: orange;
	}
	
	.axis {
	  shape-rendering: crispEdges;
	}

	.x.axis line {
	  stroke: lightgrey;
	}

	.x.axis .minor {
	  stroke-opacity: .5;
	}

	.x.axis path {
	  display: none;
	}
	
	.x.axis text {
		font-size: 10px;
	}

	.y.axis line, .y.axis path {
	  fill: none;
	  stroke: #000;
	}
	
	.y.axis text {
		font-size: 12px;
	}

	rect {
		stroke: #2a4258;
		fill: #2a4258;
	}
	rect:hover {
		stroke: #4e73f3;
		fill: #4e73f3;			
	}		
}	
			
.pie-block {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
	
	
#brush-time-series {
	svg {
	  font: 10px sans-serif;
	}
	
	path {
	  fill: steelblue;
	}
	
	line {
		stroke: black;
	}
	
	.line {
		fill: none;
	}
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.brush .extent {
	  stroke: #fff;
	  fill-opacity: .125;
	  shape-rendering: crispEdges;
	}

}		