@import '_mixins';

.chat-room {
	margin-left: 20px;
	float: left;
	width: 500px;
}

.member-list-div { 
	margin-left: 20px;
	float: left;
	width: 140px;
    padding: 5px;
    background-color: rgba(0,0,0,0.05);
    .border-radius(5px);
    margin-bottom: 10px;	
}


/* chat stream */

.chat-stream {
    .comment {
        padding: 2px;
        border-bottom: 1px solid whitesmoke;

        .from {
            font-style: italic;
            color: gray;
        }
        .date {
            font-size: 80%;
            color: blue;
            text-align: center;
        }

    }
    .comment.question {
        background-color: lighten(orange, 30%);
    }

}

.poll {
	.poll-header {
		font-weight: bold;
	}
	.option{
		margin-top: 3px;
		margin-bottom: 3px;
		line-height: 20px;
		font-size: 14px;
	}
	label {
		display: inline;
		margin-left: 10px;
		margin-top: 0px;		
	}	

}
