@import "_docstrap";

@bgcol: whitesmoke;

.editControls {
    width: 100%;
    background-color: @bgcol;
}

.saveControls {
    width: 100%;
    background-color: @bgcol;
    input {
        margin-bottom: 0;
    }
    padding-bottom: 5px;
    padding-top: 5px;
}

#docstrap-edit-html-textarea {
    width: 100%;
    height: 390px;
}

#editor {

    .ib-prevnext {
        background-color: gray;
    }
    .ib-prevnext:after {
        content: "⚓";
        display: inline;
        color: white;
    }

    .invisible-code {
        display: block;
        background-color: gray;
    }

}

#editor.hide-invisible-code {
    .invisible-code {
        display: none;
    }
}