@import '_mixins';

@sidePadD: 20px;

@topHalfHeight: 300px;

.topHalf {
}

.controlSect {
    padding: 5px;
    background-color: rgba(0,0,0,0.05);
    .border-radius(5px);
    margin-bottom: 10px;
}


@imW: 200px;
@imH: 300px;
.coverImage {
    width: @imW;
    height: @imH;
    float: left;
    margin: 0 @sidePadD 0 @sidePadD;
    .border-radius(5px);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;


    img {
        max-width: @imW;
        max-height: @imH;
    }
}


.bookDetails {
    max-height: @topHalfHeight;
    label {
        color: gray;
        margin: 5px 0 0 0;
    }
}
.verb {
    color: gray;
}
