

.comment {
    padding: 2px;
    border-bottom: 1px solid whitesmoke;

    .from {
        font-style: italic;
        color: gray;
    }
    .date {
        font-size: 80%;
        color: blue;
        
    }

}

#submit-comment textarea {
	width: 500px;
}

.right {
	text-align: right;
}
.center {
	text-align: center;
}