@import '_mixins';

@bg: #f9f9f9;
@sidePadD: 20px;
@bodyPad: 0 @sidePadD 0 @sidePadD;

body {
    background-color: @bg;
}

.siteHeader {
    position: relative;
    top: 0px;
    margin: 0 0 0px 0;
    border-bottom: 1px solid #e9e9e9;
    background-color: white;
    padding: @bodyPad;

    .siteHeaderLogo {
    }

    .siteHeaderMenuItems {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: @bodyPad;
        display: inline-block;
        list-style: none;

        .siteHeaderMenuItem {
            display: inline;
            text-align: right;
            margin: 0px 10px 10px 10px;
        }
    }
}

.infoItem {
    margin: 20px 0 0 40px;
    max-width: 750px;
    padding: 5px 10px 5px 10px;
}

.news {
	.infoItem;
    background-color: rgba(250, 190, 110, 0.2);
    border: 1px solid rgb(250, 190, 110);
    .border-radius(5px);
}

h2 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9)
}


@bookW: 300px;
@bookImW: 100px;
@bookH: 150px;
@bookImG: 5px;
@bookG: 15px;
.bookRow {
    margin: 20px 20px 20px 20px;

    .books {
        .border-radius(5px);
        background-color: #f0f0f0;
        .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
        padding: 10px 10px 10px 10px;
        margin-bottom: 20px;

        .noBooks {
            @lh: 25px;
            font-size: @lh;
            line-height: @lh;
            color: lighten(@bg, 5%);
            padding-top: (@bookH - @lh)/2;
            padding-bottom: (@bookH - @lh)/2;
        }

        .book {
            display: inline-block;
            vertical-align: top;
            margin-right: @bookG;
            margin-bottom: @bookG;

            .image {
                width: @bookImW;
                height: @bookH;
                float: left;
                margin-right: @bookImG;

                img {
                    max-width: @bookImW;
                    max-height: @bookH;
                }
            }
            .details {
                display: inline-block;
                width: @bookW - @bookImW - @bookG;
                max-height: @bookH;
                display: inline-block;
            }
        }
    }
}

.loginFrame {
    width: 450px;
    height: 200px;
    overflow: hidden;
    border: none;
}

.center {
    text-align: center;
}


.modal form {
    margin-bottom: 0px;
}
