@import '_mixins';


@standardH: 30px;

@standardPW: 320px;

@bg: #f9f9f9;

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

ul {
    list-style: none;

    li {
        line-height: @standardH;
    }

    li:hover {
        background-color: @bg;
    }
}

.provider {
    label {
        float: left;
        img {
            height: @standardH;
        }
    }

    float: left;
    width: @standardPW;

    input {
        margin-left: 5px;
        margin-bottom: 0px;
    }
}

