@import '_mixins';

@bg: #f9f9f9;
@linkfg: #005090;

@topNavSize: 20px;
@topNavPad: 3px;
@topNavTextSize: 15px;

@topNavBg: #ececec;

@buttonHighlightCol: lighten(@topNavBg, 5%);
@tagCol: darken(@topNavBg, 3%);

@zPanel: 2;
@zPanelControl: 4;
@zBottomPanel: 6;
@zTopPanel: 6;
@zContent: -10;

@bottomPanelSize: 50%;

.topNavGradient {
    #gradient > .vertical(#ececec, #e0e0e0);
}


/*
 * Top navigation bar
 */
.ibTopNav {
    z-index: @zTopPanel;
    .topNavGradient;

    min-height: @topNavSize + @topNavPad + @topNavPad;
    position: fixed;
    width: 100%;
    top: 0px;

    @topNavTextSize: 14px;
    font-size: @topNavTextSize;
    line-height: @topNavSize;


    button.command {
        font-size: @topNavTextSize;
        line-height: @topNavSize;
        border: none;
        background: none;
        line-height: normal;
        padding: 0px 2px 0px 2px;
        color: @linkfg;
    }
    button.command:hover {
        text-decoration: none;
        background-color: @buttonHighlightCol;
        .border-radius(3px);
        .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
    }
    button.command:disabled {
        color: #a4adb4;
    }
    
    a.command {
        display: inline-block;
        padding: 0px 2px 0px 2px;
        color: @linkfg;
    }
    a.command:hover {
        text-decoration: none;
        background-color: @buttonHighlightCol;
        .border-radius(3px);
        .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
    }
    
    span.spacer {
      padding-left: 10px;
    }
    

    ul {
        list-style: none;
        position:absolute;
        bottom: 0px;
        margin: 0px;
        padding-top: @topNavPad;
        height: @topNavSize + @topNavPad + @topNavPad;

        li.navli {
            float: left;            
        }
    }
    ul.bookNav {
        left: 0px;
        li.navli {
            a {
                display: inline-block;
                img {
                    position: relative;
                    height: 20px;
                    width: 27px;
                    height: @topNavSize;
                }
            }
        }
    }
    ul.ceTools {
        right: 0px;
        li.navli a {
        }
    }

    .ceInfo {
        line-height: @topNavSize;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 100px;
        margin-right: 100px;

        .title {
            font-weight: bold;
        }

        .tags {
            display: inline-block;
        }
        .adj:after,.noun:after,.topic:after {
            content: ",";
        }
        .adj:last-child:after,.noun:last-child:after,.topic:last-child:after {
            content: "";
        }
        .topic.main {
            font-weight: bold;
        }

        .adj,.topic,.noun {
            padding: 3px;
        }
        .preposition {
            color: gray;
        }

        button.topic {
            border: none;
            background: none;
            line-height: normal;
            padding: 3px 2px 3px 2px;
            color: @linkfg;
            vertical-align: baseline;
        }
        button.topic:hover {
            text-decoration: none;
            background-color: @buttonHighlightCol;
            .border-radius(3px);
            .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
        }


    }
}

/*
 * Middle panes structure -- left and right panels, edges, etc.
 */
#middle-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;

    #middle {
        @leftPanelWidth: 200px;
        @rightPanelWidth: 180px;
        @controlWidth: 20px;
        @leftEdgeWidth: 20px;
        @rightEdgeWidth: 20px;

        @panelBg: #f9f9f9;

        margin-top: 28px;
        position: relative;
        top:0px;


        #middle-left {
            position: absolute;
            width: 100%;

            @lShadow: 2px 2px 0 0px rgba(0, 0, 0, 0.1);

            @lpTrans: left .2s linear;

            #left-panel {
                background-color: @panelBg;
                .box-shadow(@lShadow);

                width: @leftPanelWidth;
                height: 100%;
                position: absolute;
                left: 0;

                z-index: @zPanel;
                .transition(@lpTrans);
            }
            #left-panel.closed {
                left: -@leftPanelWidth;
            }
            #left-panel-control {
                background-color: @panelBg;
                .box-shadow(@lShadow);
                .border-radius(3px);

                position: absolute;
                left: @leftPanelWidth;
                img {
                    width: @controlWidth;
                }

                z-index: @zPanelControl;
                .transition(@lpTrans);
            }
            #left-panel-control:hover {
                .topNavGradient;
            }
            #left-panel-control.closed {
                left: 0;
            }

            #left-edge {
                position: fixed;
                left: 0px;
                top: 300px;  /* If we put margin-top 45%, Firefox seems to miscompute it */
                z-index: @zPanel - 1;
                width: @controlWidth;
                text-align: center;

                button {
                    border: none;
                    background: none;
                    line-height: normal;
                    font-size: 24px;
                    padding: 6px 2px 6px 2px;
                    color: #888;
                }
                button:hover {
                    .border-radius(3px);
                    .topNavGradient;
                    text-decoration: none;
                }
                button:disabled {
                    color: #bbb;
                }


            }
            #main-content{
                margin-left: @leftEdgeWidth;
                margin-right: @rightEdgeWidth;

                /*
                   Position the element so that contained 'absolute'
                   elements will work
                 */
                position: relative;
                left: 0px;


                .loading-notice {
                    text-align: center;
                    padding: 5px;

                    position: absolute;
                    width: 100%;
                    opacity: 0.5;
                    z-index: -1;
                }
                .no-content-notice {
                    text-align: center;
                    padding: 5px;
                    background-color: #d0e9ff;
                }

                .content-pane {
                    iframe {
                        border: none;
                    }
                }

                .content-pane.current-slide {
                    position: relative;
                    top: 0px;
                    min-height: 100%;

                    iframe {
                        min-width: 100%;
                        border: none;

                    }

                }

            }
            #main-content.right-open {
                margin-right: @rightPanelWidth + @controlWidth;
            }
            #right-edge {
                position: fixed;
                right: 0px;
                top: 300px;  /* If we put margin-top 45%, Firefox seems to miscompute it */
                z-index: @zPanel - 1;
                width: @controlWidth;
                text-align: center;

                button {
                    border: none;
                    background: none;
                    line-height: normal;
                    padding: 6px 2px 6px 2px;
                    font-size: 24px;
                    color: #888;
                }
                button:hover {
                    .border-radius(3px);
                    .topNavGradient;
                    text-decoration: none;
                }
                button:disabled {
                    color: #bbb;
                }


            }
            #right-edge.right-open {
                right: @rightPanelWidth;
            }
        }
        #right-panel-holder {
            position: fixed;
            height: 100%;
            right: 0px;

            @rShadow: -2px 2px 0 0px rgba(0, 0, 0, 0.1);
            @rpTrans: right .2s linear;
            .transition(@rpTrans);

            #right-panel {
                background-color: @panelBg;
                .box-shadow(@rShadow);

                width: @rightPanelWidth;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                float: right;
                z-index: @zPanel;
            }
            #right-panel-control {
                background-color: @panelBg;
                .box-shadow(@rShadow);
                .border-radius(3px);

                float: right;
                img {
                    width: 20px;
                }
                z-index: @zPanelControl;
            }
            #right-panel-control:hover {
                .topNavGradient;
            }

        }
        #right-panel-holder.closed {
            right: -@rightPanelWidth;
        }

    }
}

/* Slide sorter */

.slide-sorter {

    .ss-scroll {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        top: 0;
        margin-bottom: 50px;
    }

    .slides {

        .slide {
            padding: 2px 3px 2px 3px;

            .slide-number:after {
                content: ".";
            }

            /* Check-box for selecting slides */
            .slide-select {
                float: right;
                vertical-align: middle;
                margin-right: 5px;
            }

            background-color: whitesmoke;
            margin-bottom: 2px;
        }
        .slide.active {
            background-color: #e0f0ff;
        }
        .slide:hover {
            background-color: #d0e0ff;
            cursor: pointer;
        }

    }

    .ss-commands {
        .topNavGradient;


        button.command {
            border: none;
            background: none;
            line-height: normal;
            padding: 3px 12px 3px 12px;
            color: @linkfg;
        }
        button.command:hover {
            text-decoration: none;
            background-color: @buttonHighlightCol;
            .border-radius(3px);
            .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
        }
        button.command:disabled {
            color: #a4adb4;
        }
        .add {
            display: inline-block;
            button {
                padding-left: 20px;
                padding-right: 20px;
            }

            button.link-button {
                display: block;
                width: 100%;
                text-align: left;
                color: #222;
            }
            button.link-button:hover {
                color: white;
                background-color: @linkfg;
            }
        }
        .group-actions {
            float: right;
        }
    }
}

/* chat form */

#chat-content {
    width: 90%;
    max-width: 90%;
}

/* chat stream */

.chat-stream {
    .comment {
        padding: 2px;
        border-bottom: 1px solid whitesmoke;

        .from {
            font-style: italic;
            color: gray;
        }
        .date {
            font-size: 80%;
            color: blue;
            text-align: center;
        }

    }
    .comment.question {
        background-color: lighten(orange, 30%);
    }
    
    textarea {
      max-width: 90%;
      width: 90%;
    }

}





/* Bottom panel */

.bottomNavGradient {
    #gradient > .vertical(#ececec, #e0e0e0);
}

#ib-bottom-panel-holder {
    position: fixed;
    bottom: 0px;
    width: 100%;

    #ib-bottom-panel-controls {
        .bottomNavGradient;
        min-height: @topNavSize + @topNavPad + @topNavPad;

    }

}

/* Add form */

@adjCol: #f0d0f0;
@nounCol: #fff0d0;
@topicCol: #d0f0ff;

.add-entry-form {
    .form-meta {
        label {
            display: inline-block;
            width: 100px;
            margin-right: 10px;
        }
        .tags {
            display: inline-block;
            span.adj, span.noun, span.topic {
                border-radius: 2px;
                border: 1px solid #ddd;
                margin-right: 5px;
                padding-left: 2px;

                button {
                    background: none;
                    border: none;
                    color: #aaa;
                }
                button:hover {
                    color: black;
                }
            }
            .adj {
                background-color: @adjCol;
            }
            .noun {
                background-color: @nounCol;
            }
            .topic {
                background-color: @topicCol;
            }
        }
        button {
            margin-bottom: 9px;
        }
        .floatit {
            input {
                float: left;
                margin-left: 110px;
                margin-right: 10px;
            }
            .btn-group {
                float: left;
            }
            .clear {
                clear: both;
            }
            .adj {
                background-color: @adjCol;
            }
            .noun {
                background-color: @nounCol;
            }
            .topic {
                background-color: @topicCol;
            }
            .adj:hover, .noun:hover, .topic:hover {
                background-color: #0088cc;
            }

        }

    }
    .form-main {
        font-size: 15px;
        padding: 5px;
        position: relative;
        left: -5px;
        width: 100%;
        border-top: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        label {
            font-weight: bold;
        }
        input {
            width: 98%;
        }
        background-color: #f0f6ff;
    }
    .form-ticks {
        text-align: center;
        label {
            display: inline;
            margin: 0 10px 0 0;
        }
        input {
            margin: 30 3px 0 0;
            text-align: baseline;
        }
    }
}


/* List entries */
.querying-message {
    display: none;
}
.querying .querying-message {
    display: block;
}
#list-entries-div {

    .noun-set {
        margin-bottom: 20px;
    }
    button.entry {
        text-align: left;
        width: 100%;
        border: none;
        background: none;
        line-height: normal;
        padding: 3px 2px 3px 2px;
        cursor: pointer;

        .title,.kind,.site,.tags {
            display: inline-block;
            vertical-align: baseline;
            margin-right: 3px;
        }
        .title {
            min-width: 240px;
            font-size: @topNavTextSize;
            color: @linkfg;
        }
        .kind {
            color: gray;
        }
        .kind:after {
            content: ",";
        }
        .site {
            color: gray;
            width: 250px;
        }
        .note {

        }
        .refval {
            clear: both;
            color: green;
        }
        .tags {
            font-style: italic;
            width: 280px;
            .tag {
                margin-right: 3px;
            }
            .tag:after {
                content: ",";
            }
            .tag:last-child:after {
                content: "";
            }
        }
    }
    button.entry:nth-child(odd) {
        background-color: #eee;
    }
    button.entry:nth-child(even) {
        background-color: #f6f6f6;
    }
    button.entry:hover {
        text-decoration: none;
        background-color: @buttonHighlightCol;
        .border-radius(3px);
        .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
    }

}

/* Buttons that are lines in drop-down menus */
button.menu-line {
    display: block;
    width: 100%;
    text-align: left;
    color: #222;
    font-size: normal;
    border: none;
    background: none;
    line-height: normal;

    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
button.menu-line:hover {
    color: white;
    background-color: @linkfg;
}


iframe {
  min-height: 640px important!;
}

