@import '_mixins';

@sidePadD: 20px;

/*
 * Question list
 */

.questions-div {
  margin: @sidePadD;
}

.ask-button {
  float: right;
  margin: @sidePadD;
}


/*
 * Question
 */

.question-div {
  margin: @sidePadD;
}
.question-footer {
  color: gray;
}

.comment {
  margin-left: 5 * @sidePadD;
  margin-top: 0.5 * @sidePadD;
  font-size: 80%;
}
.comment-by {
  color: gray;
}
.add-comment {
  margin-left: 5 * @sidePadD;
  font-size: 80%;
}

.answer {
  border-top: 1px dotted gray;
  margin-left: 2 * @sidePadD;
  margin-top: @sidePadD;
  padding-top: @sidePadD;
}
.answer-footer {
  margin-left: 2 * @sidePadD;
  color: gray;
}

.add-answer {
  border-top: 1px dotted gray;
  margin: @sidePadD;
}
