@import '_mixins';


.youtube-med {
    height: 360px;
    width: 640px;

    .placeholder {
        color: white;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        padding-top: 160px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.fillable-template {
    background-color: gray;
}



/*
 * Atle Mo & Lea Verou, github
 */
.carbonFibre {
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background:
      -moz-radial-gradient(black 15%, transparent 16%) 0 0,
      -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background:
      -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
      -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background:
      -o-radial-gradient(black 15%, transparent 16%) 0 0,
      -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background:
      -ms-radial-gradient(black 15%, transparent 16%) 0 0,
      -ms-radial-gradient(black 15%, transparent 16%) 8px 8px,
      -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#141414;
    background-size:16px 16px;
}

/*
 * Anna Kassner, github
 */
.argyle {
    background-color: #6d695c;
    background-image:
      repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
      linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image:
      -moz-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -moz-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -moz-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
      -moz-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image:
      -webkit-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -webkit-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -webkit-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
      -webkit-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image:
      -o-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -o-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -o-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
      -o-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image:
      -ms-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -ms-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
      -ms-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
      -ms-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));

    background-size: 70px 120px;

}


/*---- SLIDE THEMES ----*/

.page {
    height: 100%;
    position: relative;
    left: 0px;
    min-height: 640px;
    max-height: 100%;
}

#editor {
    margin-top: 292px;
}

.theme {
    position: relative;
    padding: 20px 10px 20px 10px;
}

.mix-themeWhiten {
    color: white;

    pre,.alert,.label {
        color: #444;
    }

    .hero-unit {
        background-color: rgba(255,255,255,0.1);
    }
}
.mix-themeDarken {
    color: #444;

    .hero-unit {
        background-color: rgba(0,0,0,0.1);
    }
}

.themeRedBg {
    @basicRed: rgb(100,10,10);
    @lighterRed: rgb(150,10,10);
    .theme;
    #gradient.vertical(@basicRed, @lighterRed);
    .mix-themeWhiten;
}
.themeBlueBg {
    @basicBlue: #0F355C;
    @lighterBlue: #113D69;
    .theme;
    #gradient.vertical(@basicBlue, @lighterBlue);
    .mix-themeWhiten;
}
.themeGreenBg {
    @basicGreen: #104D0D;
    @lighterGreen: #135C0F;
    .theme;
    #gradient.vertical(@basicGreen, @lighterGreen);
    .mix-themeWhiten;
}
.themeDarkBg {
    @basicBg: #1d1e1e;
    @lighterBg: #2d2e2e;
    .theme;
    #gradient.vertical(@basicBg, @lighterBg);
    .mix-themeWhiten;
}
.themeBeigeBg {
    @basicBg: #F7E9D0;
    @lighterBg: #FFF0D6;
    .theme;
    #gradient.vertical(@basicBg, @lighterBg);
    .mix-themeDarken;
}
.themeCreamBg {
    @basicBg: #F5EFE4;
    @lighterBg: #FFF9F0;
    .theme;
    #gradient.vertical(@basicBg, @lighterBg);
    .mix-themeDarken;
}


/* Font sets */
.themeOneFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeTwoFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Oleo Script";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeThreeFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Merienda One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFourFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Prosto One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}

/* Handy */
.themeMargin {
    margin: 30px;
}


/* Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans */


.ftheme-AldrichHeadings {
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
    }
}
.ftheme-OleoHeadings {
    h1,h2,h3,h4,h5 {
        font-family: 'Oleo Script';
    }
}




.theme2 {
    .theme;
    .carbonFibre;
    font-family: Tahoma;

    p,h1,h2,h3,* {
        color: white;
    }
    .hero-unit {
        background-color: rgba(255,255,255,0.1);
    }
}

.theme3 {
    .theme;
    .argyle;
    font-family: Tahoma;

    p,h1,h2,h3,* {
        color: white;
    }
    .hero-unit {
        background-color: rgba(0,0,0,0.1);
    }
}

.big-text {
    font-size: 18px;
    line-height: 30px;
    p, div, pre, span, label {
        font-size: 18px;
        line-height: 30px;
    }
    li {
    	font-size: 24px;
    	line-height: 40px;
    	li {
    		font-size: 18px;
    		line-height: 32px;
    	}
    }
    

    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2 {
        font-size: 30px;
        line-height: 44px;
    }
    h3 {
        font-size: 24px;
        line-height: 36px;
    }
}

/* Themeables */

.themeable {
    .theme;
}

/* Background themes */
.themeBgWhite, .themeable .themeBgWhite {
    background-image: none;
    background-color: white;
    .mix-themeDarken;
}

.themeBgGray, .themeable .themeBgGray {
    background-image: none;
    background-color: rgb(250,250,250);
    border-color: rgb(200,200,200);
    .mix-themeDarken;
}
.themeBgDark, .themeable .themeBgDark {
    #gradient.vertical(#1d1e1e, #2d2e2e);
    .mix-themeWhiten;
}
.themeBgCream, .themeable .themeBgCream  {
    #gradient.vertical(#F5EFE4, #FFF9F0);
    .mix-themeDarken;
}
.themeBgBeige, .themeable .themeBgBeige  {
    #gradient.vertical(#F7E9D0, #FFF0D6);
    .mix-themeDarken;
}
.themeBgRed, .themeable .themeBgRed {
    #gradient.vertical(rgb(100,10,10), rgb(150,10,10));
    .mix-themeWhiten;
}
.themeBgBlue, .themeable .themeBgBlue {
    #gradient.vertical(#0F355C, #113D69);
    .mix-themeWhiten;
}
.themeBgGreen, .themeable .themeBgGreen {
    #gradient.vertical(#104D0D, #135C0F);
    .mix-themeWhiten;
}

/* Orange with a diagonal lightening */
.themeBgOrange, .themeable .themeBgOrange {
	background-color: #082746;
	background-image: -webkit-linear-gradient(20deg, transparent 67%, hsla(0,0%,100%,.05) 67%, hsla(0,0%,100%,.025)),
		                -webkit-linear-gradient(hsla(32, 100%, 38%, 1), hsla(32, 100%, 38%, 1));
    .mix-themeWhiten;
}

/* Darkish color with a diagonal */
.themeBgMBP, .themeable .themeBgMBP {
	background-color: #082746;
	background-image: -webkit-linear-gradient(20deg, transparent 67%, hsla(0,0%,100%,.05) 67%, hsla(0,0%,100%,.025)),
		                -webkit-linear-gradient(hsla(200, 70%, 10%, 1), hsla(200, 20%, 30%, 1));
    .mix-themeWhiten;
}

.themeFontSetOne, .themeable .themeFontSetTwo {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetTwo, .themeable .themeFontSetTwo {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Oleo Script";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetThree, .themeable .themeFontSetThree {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Merienda One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetFour, .themeable .themeFontSetFour {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Prosto One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}

.themeFontSetGeneva, .themeable .themeFontSetGeneva {
	font-family: "Geneva", sans-serif;
	h1,h2,h3,h4,h5 {
		font-family: "Geneva", sans-serif;
		font-weight: bold;
	}
	pre {
        font-family: "Source Code Pro", monospaced;
    }
}

/* Borders */
.themeBorderNone {
    border-radius: 0px;
    border: none;
}
.themeBorderOne {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}
.themeBorderTwo {
	padding: 20px;
	box-shadow: 
		          0 0 0 1px #ccc,
		          0 0 1px 2px hsla(0,0%,0%,.3),
		          0 0 50px hsla(0,0%,0%,.3);	
}
.themeBorderTop {
	border-top-style: solid;
	border-top-width: 1px;
}

.themeMarginNone {
    margin: 0;
}
.themeMarginOne {
    margin: 30px 30px 30px 30px;
}

