@import '_mixins';


.youtube-med {
    height: 360px;
    width: 640px;

    .placeholder {
        color: white;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        padding-top: 160px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.fillable-template {
    background-color: gray;
}



/*
 * Atle Mo & Lea Verou, github
 */
.carbonFibre {

}

/*
 * Anna Kassner, github
 */
.argyle {

}


/*---- SLIDE THEMES ----*/

.page {
    position: relative;
    left: 0px;
    min-height: 640px;
    max-height: 100%;
}

#editor {
    margin-top: 292px;
}

.theme {
    position: relative;
    padding: 20px 10px 20px 10px;
}

.mix-themeWhiten {
}
.mix-themeDarken {
    color: #444;

    .hero-unit {
        background-color: rgba(0,0,0,0.1);
    }
}

.themeRedBg {
}
.themeBlueBg {
}
.themeGreenBg {
}
.themeDarkBg {
}
.themeBeigeBg {
}
.themeCreamBg {
}


/* Font sets */
.themeOneFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeTwoFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Oleo Script";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeThreeFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Merienda One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFourFonts {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Prosto One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}

/* Handy */
.themeMargin {
    margin: 30px;
}


/* Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans */


.ftheme-AldrichHeadings {
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
    }
}
.ftheme-OleoHeadings {
    h1,h2,h3,h4,h5 {
        font-family: 'Oleo Script';
    }
}




.theme2 {
}

.theme3 {
}

.big-text {
    font-size: 18px;
    line-height: 30px;
    p, div, li, pre, span, label {
        font-size: 18px;
        line-height: 30px;
    }

    h1 {
        font-size: 36px;
        line-height: 44px;
    }
    h2 {
        font-size: 30px;
        line-height: 44px;
    }
    h3 {
        font-size: 24px;
        line-height: 36px;
    }
}

/* Themeables */

.themeable {
    .theme;
}

/* Background themes */


.themeFontSetOne, .themeable .themeFontSetTwo {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: Aldrich;
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetTwo, .themeable .themeFontSetTwo {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Oleo Script";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetThree, .themeable .themeFontSetThree {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Merienda One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}
.themeFontSetFour, .themeable .themeFontSetFour {
    font-family: "Open Sans";
    h1,h2,h3,h4,h5 {
        font-family: "Prosto One";
        font-weight: normal;
    }
    pre {
        font-family: "Ubuntu Mono", monospaced;
    }
}

/* Borders */
.themeBorderNone {
    border-radius: 0px;
    border: none;
}
.themeBorderOne {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}

.themeMarginNone {
    margin: 0;
}
.themeMarginOne {
    margin: 30px;
}

