@import '_mixins';

@sidePadD: 20px;

@imW: 200px;
@imH: 200px;
.avatar {
    width: @imW;
    height: @imH;
    float: left;
    margin: 0 @sidePadD 0 @sidePadD;
    .border-radius(5px);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;

    img {
        max-width: @imW;
        max-height: @imH;
    }
}


.details {
    margin-left: @sidePadD;
    margin-right: @sidePadD;
    label {
        color: gray;
        margin: 5px 0 0 0;
    }
}
.verb {
    color: gray;
}
