@import '_mixins';

.wiki-top-commands {
    position: absolute;
    padding: 3px;
    .border-radius(3px);
    .box-shadow(-2px 2px 0 0px rgba(0, 0, 0, 0.05));
    top: 3px;
    right: 3px;
    background-color: rgba(255,255,255,0.4);
}

a[data-ib-topic] {
    cursor: pointer;
}

.invisible-code {
    display: none;
}
