@import '_mixins';


.poll {
  ul.options {
    margin: 20px;
    text-align: left;
  }
}

li.option {
  list-style: none;
}

.option {
}
.option label {
    margin: 15px;
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
}

.poll-results {
    display: table;
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin: 20px !important;

    .option {
        display: table-row;
        padding-top: 5px;
        padding-bottom: 5px;
        .text {
            display: table-cell;
            padding-right: 10px;
            min-width: 300px;
        }
        .votesnum {
            display: table-cell;
            padding-right: 10px;
            text-align: right;
        }
        .votesbar {
            display: table-cell;
            min-width: 70%;
            width: 100%;

            .bar {
                min-height: 30px;
                .transition(width 0.1s);
            }
        }

    }
    .option:hover {
        background-color: rgba(0,0,0,0.05);
    }
}

/*
 * For textPolls
 */
 
.text-poll-answers {

  max-height: 540px;
  overflow: auto;

  .answer {
  
    border: 1px #888 solid;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
  
    .text {
      font-size: 20px;
      line-height: 25px;
      color: #444;
    }
    .date {
      margin-top: 10px;
      color: #888;
      font-size: 80%;
    }
  }
}

