@(b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book])(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(b.toOption.flatMap(_.title).getOrElse("Untitled book")) {

@headerFront()
@b.toOption.map { book =>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editBook.css")">

<div class="topHalf">

    <div class="coverImage" style="float: left;">
    @{
        if (book.coverImageURL.isEmpty) {
            <p>(No cover image)</p>
        } else {
            <img src={book.coverImageURL.get} alt="cover image"/>
        }
    }
    </div>

    <div class="bookDetails" style="float: left;">
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">

            <div class="control-group">
                <label class="control-label">Title</label>
                <div class="controls">
                    <input type="text" name="title" value="@book.title.getOrElse("Untitled")" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Short name</label>
                <div class="controls">
                    <input type="text" name="shortName" value="@book.shortName.getOrElse("No short name")"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">List publicly</label>
                <div class="controls">
                    <input type="checkbox" name="listed" @if(book.listed){ checked="checked" } />
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">Short description</label>
                <div class="controls">
                    <textarea name="shortDescription">@book.shortDescription.getOrElse("")</textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Long description</label>
                <div class="controls">
                    <textarea name="longDescription">@book.longDescription.getOrElse("")</textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Sign-up policy</label>
                <div class="controls">
                    <select name="signupPolicy">@{
                        BookSignupPolicy.values.map( v =>
                            if (v == book.signupPolicy) {
                                <option value={v.toString} selected="selected">{v.toString}</option>
                            } else {
                                <option value={v.toString} >{v.toString}</option>
                            })
                        }
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Chat policy</label>
                <div class="controls">
                    <select name="chatPolicy">@{
                        BookChatPolicy.values.map( v =>
                        if (v == book.chatPolicy) {
                        <option value={v.toString} selected="selected">{v.toString}</option>
                        } else {
                        <option value={v.toString} >{v.toString}</option>
                        })
                        }
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Cover image</label>
                <div class="controls">
                    <input name="coverImageURL" value="@book.coverImageURL" /><br/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Upload cover image</label>
                <div class="controls">
                    <input type="file" name="coverImageFile" />
                </div>
            </div>

            <h3>Auto-list <small>Automatically finds items with a certain type tag, and lists them on the Content page</small></h3>
            <div id="edit-list-nouns">
            @{
            	book.listNouns.map { n => 
            <div class="listnouns-row">
            <div class="control-group">
                <label class="control-label">Heading</label>
                <div class="controls">
                    <input name="listnountitle" value={n.title} />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type tag</label>
                <div class="controls">
                    <input name="listnoun" value={n.tag} />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-delete" onclick="javascript: listnouns_deleterow(this);"><i icon="icon-delete"></i> Delete this tag</button>
                </div>
            </div>            	
            </div>
            	}
            }
            </div>
            <div class="control-group">
            	<button type="button" class="btn" onclick="javascript: listnouns_addrow();"><i class="icon-plus"></i> Add tag</button>
            </div>


            <div class="form-actions">
                <a class="btn" href="@routes.BookController.bookFront(book.id.toString)">Cancel</a>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>


        </form>
    </div>

</div>

<div class="contentTypes">

</div>



<div class="hide">
    <div id="listnouns-copyme">
        <div class="listnouns-row">
            <div class="control-group">
                <label class="control-label">Heading</label>
                <div class="controls">
                    <input name="listnountitle" placeholder="List heading" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type tag</label>
                <div class="controls">
                    <input name="listnoun" placeholder="Type to search for" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-delete" onclick="javascript: listnouns_deleterow(this);"><i icon="icon-delete"></i> Delete this answer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.listnouns_addrow = function() {
    var target = $("#edit-list-nouns"),
        clone = $("#listnouns-copyme").find(".listnouns-row").clone();
    target.append(clone);
    return false;
    }

window.listnouns_deleterow = function(btn) {
    $(btn).parents(".listnouns-row").remove()
}
</script>

}
}