@(page:MarkupWikiPage)(implicit request: play.api.mvc.Request[AnyContent])


@templateFront("page " + page.id.toString) {

<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap-tab.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("lib/pagedown/Markdown.Converter.js")"></script>
<script src="@routes.Assets.at("lib/pagedown/Markdown.Sanitizer.js")"></script>
<script src="@routes.Assets.at("lib/pagedown/Markdown.Editor.js")"></script>
<script src="@routes.Assets.at("javascripts/markdownStuff.js")"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/pagedown/demo.css")">

<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewWikiPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editWikiPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideThemes1.css")">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>



<div class="editControls">
  This page uses Markdown syntax. The preview on the right will update automatically every second.
</div>

<form action="edit" method="POST">
<div class="sideMarg" style="margin-top: 40px;">  
 
  <div class="row-fluid">
    <div class="span6">
      <div id="wmd-button-bar"></div>
      <textarea name="content" id="wmd-input" style="width: 100%; min-height: 400px;">@page.content</textarea>
    </div>
    <div class="span6">
	    <div id="wmd-preview">
	    </div>
    </div>
  </div>
</div>

<div class="saveControls">
    <div class="sideMarg">
        <input type="text" placeholder="Comment (optional)" />
        <a class="btn btn-cancel" href='@routes.WikiController.viewMarkupWikiPage(page.id.toString)'>Cancel</a>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</div>
</form>

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/editMarkupWikiPage").url)



}