@(
p:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.YouTube],
tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;
@import model._;


@p.toOption.map { v =>

@templateFront("Edit YouTube") {

<div>
    <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <label class="control-label">Video ID</label>
            <div class="controls">
                <input type="text" name="youtubeId" value="@v.youTubeId.getOrElse("")"/>
            </div>
        </div>

        <div class="form-actions">
            <a class="btn" href="@v.ce.toOption.flatMap(IBJson.viewUrl(_))">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

}

}
