@(
poll:com.theintelligentbook.ibmodel.mongo.Poll
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront("poll " + poll.id.toString) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editPoll.css")">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>

<div>
    <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <label class="control-label">Question</label>
            <div class="controls">
                <textarea name="question" >@poll.question.getOrElse("")</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Mode</label>
            <div class="controls">
                <select name="mode">@{
                    PollMode.values.map( v =>
                    if (v == poll.mode) {
                    <option value={v.toString} selected="selected">{v.toString}</option>
                    } else {
                    <option value={v.toString} >{v.toString}</option>
                    })
                    }
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Results visibility</label>
            <div class="controls">
                <select name="resultsVisibility">@{
                    PollResultsVisibility.values.map( v =>
                    if (v == poll.resultsVisibility) {
                    <option value={v.toString} selected="selected">{v.toString}</option>
                    } else {
                    <option value={v.toString} >{v.toString}</option>
                    })
                    }
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Answer visibility</label>
            <div class="controls">
                <select name="answerVisibility">@{
                    PollResultsVisibility.values.map( v =>
                    if (v == poll.answerVisibility) {
                    <option value={v.toString} selected="selected">{v.toString}</option>
                    } else {
                    <option value={v.toString} >{v.toString}</option>
                    })
                    }
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">May move vote</label>
            <div class="controls">
                @if(poll.mayMoveVote){
                    <input type="checkbox" checked="checked" value="true" name="mayMoveVote" />
                }else{
                    <input type="checkbox" value="true" name="mayMoveVote" />
                }
            </div>
        </div>

        <div id="edit-poll-answers">
            @{
                var max = poll.options.length
                if (max > poll.optFeedback.length) { max = poll.optFeedback.length }
                if (max > poll.optScore.length) { max = poll.optScore.length }

                for (i <- 0.until(max)) yield {
                    <div class="answer">
                        <div class="control-group">
                            <label class="control-label">Answer</label>
                            <div class="controls">
                                <textarea name="option" >{poll.options(i)}</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Feedback</label>
                            <div class="controls">
                                <textarea name="optFeedback" >{poll.optFeedback(i)}</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Score</label>
                            <div class="controls">
                                <input name="optScore" type="number" value={poll.optScore(i).toString} />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="button" class="btn btn-delete"><i icon="icon-delete"></i> Delete this answer</button>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <div class="control-group">
            <button type="button" class="btn" onclick="javascript: poll_addrow();"><i class="icon-plus"></i> Add answer</button>
        </div>

        <div class="form-actions">
            <a class="btn" href="@routes.PollController.view(poll.id.toString)">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

<div class="hide">
    <div id="copyme">
        <div class="answer">
            <div class="control-group">
                <label class="control-label">Answer</label>
                <div class="controls">
                    <textarea name="option" >(No answer text yet)</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Feedback</label>
                <div class="controls">
                    <textarea name="optFeedback" >(No feedback yet)</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Score</label>
                <div class="controls">
                    <input name="optScore" type="number" value="0" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn btn-delete" onclick="javascript: poll_deleterow(this);"><i icon="icon-delete"></i> Delete this answer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.poll_addrow = function() {
    var target = $("#edit-poll-answers"),
        clone = $("#copyme").find(".answer").clone();
    target.append(clone);
    return false;
    }

window.poll_deleterow = function(btn) {
    $(btn).parents(".answer").remove()
}
</script>


}

