@(p:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.WikiPage])(implicit request: play.api.mvc.Request[AnyContent])

@p.toOption.map { page =>

@templateFront("page " + page.id.toString) {

<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap-tab.js")" type="text/javascript"></script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewWikiPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/editWikiPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideThemes1.css")">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>

<div class="editControls">
    <div class="sideMarg">
        <div class="inline-block">
            @editWikiPageControls()
        </div>
    </div>
</div>

<div class="sideMarg">
    <div id="editor" contenteditable="true" >
        @Html(page.content)
    </div>
</div>

<div class="saveControls">
    <div class="sideMarg">
        <input type="text" placeholder="Comment (optional)" />
        <a class="btn btn-cancel" href='@routes.WikiController.read(p.getId.getOrElse("").toString)'>Cancel</a>
        <button class="btn btn-primary" onclick="javascript: theEditor.updateTextAreaSource(); $('#dosctrap-save-to-server').submit()">Save</button>
    </div>
</div>

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/editWikiPage").url)


}

}
