@(
poll:com.theintelligentbook.ibmodel.mongo.TextPoll,
tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;



@templateFront("Edit URL") {

<div>
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label">Question</label>
            <div class="controls">
                <textarea name="question" required>@poll.question</textarea>
            </div>
        </div>

        <div class="form-actions">
            <a class="btn" href="@routes.PollController.viewTextPoll(poll.id.toString)">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

}
