@(
r:com.theintelligentbook.ibmodel.mongo.Reader
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;

@templateFront("Your account") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewSelf.css")">

@headerFront()

<div class="details">

    <div class="bookDetails" style="float: left;">
        <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
            <div class="control-group">
                <label class="control-label">Nickname</label>
                <div class="controls">
                    <input type="text" name="nickname" value="@r.nickname.getOrElse("")" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Full name</label>
                <div class="controls">
                    <input type="text" name="fullname" value="@r.fullname.getOrElse("")"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email address</label>
                <div class="controls">
                    <input type="text" name="email" value="@r.email.getOrElse("")"/>
                </div>
            </div>

            <div class="form-actions">
                <a class="btn" href="@routes.ReaderController.viewSelf()">Cancel</a>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>




</div>


}