@(
p:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Website],
tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@p.toOption.map { v =>

@templateFront("Edit URL") {

<div>
    <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <label class="control-label">URL</label>
            <div class="controls">
                <input type="text" name="url" value="@v.url.getOrElse("")" />
            </div>
        </div>

        <div class="form-actions">
            <a class="btn" href="@v.url">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

}

}
