@(
gp:GoogleSlides,
tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;



@templateFront("Edit URL") {

<div>
    <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
        <div class="control-group">
            <label class="control-label">Embed code</label>
            <div class="controls">
                <textarea name="ce_embedCode">@gp.embedCode</textarea>
            </div>
        </div>

        <div class="form-actions">
            <a class="btn" href="#" onClick="javascript: history.back();">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>
</div>

}
