@()

<div class="tabbable" >
    <ul class="nav nav-tabs" id="editTools" style="margin-bottom: 0px;">
        <li class="active"><a href="#basicTab" data-toggle="tab">Basic</a></li>
        <li class=""><a href="#inlineTab" data-toggle="tab">Inline</a></li>
        <li class=""><a href="#blocksTab" data-toggle="tab">Blocks</a></li>
        <li class=""><a href="#themeablesTab" data-toggle="tab">Themeables</a></li>
        <li class=""><a href="#mediaTab" data-toggle="tab">Media</a></li>
        <li class=""><a href="#codeTab" data-toggle="tab">Programming</a></li>
        <li class=""><a href="#specialTab" data-toggle="tab">Special</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="basicTab">
            <section class="btn-toolbar">

                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Paragraph
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<p>');"><p>Normal</p></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<h1>');"><h1>Heading 1</h1></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<h2>');"><h2>Heading 2</h2></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<h3>');"><h3>Heading 3</h3></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<h4>');"><h4>Heading 4</h4></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<h5>');"><h5>Heading 5</h5></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<pre>');"><pre>Preformatted</pre></a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.formatBlock('<div>');"><div>div (not a paragraph)</div></a>
                        </li>

                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn" onclick="javascript: theEditor.bold();"><i class="icon-bold"></i></button>
                    <button class="btn" onclick="javascript: theEditor.italic();"><i class="icon-italic"></i></button>
                    <button class="btn" onclick="javascript: theEditor.underline();"><u>U</u></button>
                    <button class="btn" onclick="javascript: theEditor.strikeThrough();"><s>S</s></button>
                    <button class="btn" onclick="javascript: theEditor.superscript();">a<sup>b</sup></button>
                    <button class="btn" onclick="javascript: theEditor.subscript();">a<sub>b</sub></button>
                    <button class="btn" onclick="javascript: theEditor.removeFormat();">A</sub></button>
                </div>

                <div class="btn-group">
                    <button class="btn" onclick="javascript: theEditor.justifyLeft();">
                        <i class="icon-align-left"></i>
                    </button>
                    <button class="btn" onclick="javascript: theEditor.justifyCenter();">
                        <i class="icon-align-center"></i>
                    </button>
                    <button class="btn" onclick="javascript: theEditor.justifyRight();">
                        <i class="icon-align-right"></i>
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn" onclick="javascript: theEditor.outdent();">
                        <i class="icon-indent-right"></i>
                    </button>
                    <button class="btn" onclick="javascript: theEditor.indent();">
                        <i class="icon-indent-left"></i>
                    </button>
                    <button class="btn" onclick="javascript: theEditor.insertUnorderedList();">
                        <i class="icon-list-ul"></i>
                    </button>
                    <button class="btn" onclick="javascript: theEditor.insertOrderedList();">
                        <i class="icon-list-ol"></i>
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <b>&#8734;</b> Link
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="EditWikiPage.showEntryLinkForm();">Content entry link</a>
                        </li>
                        <li>
                            <a href="#" onclick="EditWikiPage.showTopicLookupForm();">Topic lookup</a>
                        </li>
                        <li>
                            <a href="#" onclick="EditWikiPage.showWebLinkForm();">Web link</a>
                        </li>
                    </ul>
                </div>

            </section>

        </div>
        <div class="tab-pane" id="inlineTab">
            <section class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Inline elements
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <p><small>Small</small></p>
                                <div class="hidden template">
                                    <small>Something small</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <p><code>Code</code></p>
                                <div class="hidden template">
                                    <code>code</code>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <p><kbd>Keyboard input</kbd></p>
                                <div class="hidden template">
                                    <kbd>Keyboard input</kbd>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <p><samp>Sample output</samp></p>
                                <div class="hidden template">
                                    <samp>Sample output</samp>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <p><address>Address</address></p>
                                <div class="hidden template">
                                    <address>Address</address>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-tag"></i> Labels
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label">label</span>
                                <div class="hidden template">
                                    <span class="label">label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label label-info">info label</span>
                                <div class="hidden template">
                                    <span class="label label-info">info label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label label-warning">warning label</span>
                                <div class="hidden template">
                                    <span class="label label-warning">warning label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label label-success">success label</span>
                                <div class="hidden template">
                                    <span class="label label-success">success label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label label-important">important label</span>
                                <div class="hidden template">
                                    <span class="label label-important">important label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="label label-inverse">inverse label</span>
                                <div class="hidden template">
                                    <span class="label label-inverse">inverse label</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge">badge</span>
                                <div class="hidden template">
                                    <span class="badge">badge</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge badge-success">success badge</span>
                                <div class="hidden template">
                                    <span class="badge badge-success">badge</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge badge-warning">warning badge</span>
                                <div class="hidden template">
                                    <span class="badge badge-warning">badge</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge badge-error">error badge</span>
                                <div class="hidden template">
                                    <span class="badge badge-error">badge</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge badge-info">info badge</span>
                                <div class="hidden template">
                                    <span class="badge badge-info">badge</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <span class="badge badge-inverse">inverse badge</span>
                                <div class="hidden template">
                                    <span class="badge badge-inverse">badge</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </section>
        </div>

        <!-- Block elements -->
        <div class="tab-pane" id="blocksTab">
            <section class="btn-toolbar">

                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-warning-sign"></i> Alerts
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="alert alert-warning">Alert</div>
                                <div class="hidden template">
                                    <div class="alert alert-warning"><div>Alert</div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="alert alert-info">Alert</div>
                                <div class="hidden template">
                                    <div class="alert alert-info"><div>Alert</div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="alert alert-success">Alert</div>
                                <div class="hidden template">
                                    <div class="alert alert-success"><div>Alert</div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="alert alert-error">Alert</div>
                                <div class="hidden template">
                                    <div class="alert alert-error"><div>Alert</div></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Bootstrap blocks
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="well">
                                    <h3>Hero unit</h3>
                                    (Much larger than this)
                                </div>
                                <div class="hidden template">
                                    <div class="hero-unit">
                                        <h1>Hero unit</h1>
                                        Crickey, I'm big!
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="well">
                                    <h3>Well</h3>
                                    <p>Look I'm in a well.</p>
                                </div>
                                <div class="hidden template">
                                    <div class='well'>
                                        <h1>Well</h1>
                                        <div>Look I'm in a well.</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="thumbnail">
                                    <h3>Thumbnail</h3>
                                    <div>Useful for putting images in</div>
                                </div>
                                <div class="hidden template">
                                    <div class="thumbnail">
                                        <h3>Thumbnail</h3>
                                        <div>Useful for putting images in</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="page-header">
                                    <h3>Page header <small>with small</small></h3>
                                </div>
                                <div class="hidden template">
                                    <div class="page-header">
                                        <h3>Page header <small>with small</small></h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Layouts
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="row-fluid">
                                    <div class="span6"><div class="well"></div></div>
                                    <div class="span6"><div class="well"></div></div>
                                </div>
                                <div class="hidden template">
                                    <div class="row-fluid">
                                        <div class="span6"><p>Left content</p></div>
                                        <div class="span6"><p>Right content</p></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="row-fluid">
                                    <div class="span9"><div class="well"></div></div>
                                    <div class="span3"><div class="well"></div></div>
                                </div>
                                <div class="hidden template">
                                    <div class="row-fluid">
                                        <div class="span9"><p>Left content</p></div>
                                        <div class="span3"><p>Right content</p></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div class="row-fluid">
                                    <div class="span3"><div class="well"></div></div>
                                    <div class="span9"><div class="well"></div></div>
                                </div>
                                <div class="hidden template">
                                    <div class="row-fluid">
                                        <div class="span3"><p>Left content</p></div>
                                        <div class="span9"><p>Right content</p></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>

            </section>
        </div>

        <div class="tab-pane" id="themeablesTab">
        <section class="btn-toolbar">

        <div class="btn-group">
            <button class="btn" onclick="javascript: theEditor.insertMyTemplate(this);">
                Insert themeable
                <div class="hidden template">
                    <div class="themeable themeBgGray">
						<div>This is a themeable div and can be styled...</div>
					</div>
                </div>
            </button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Pre-mixed
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu maxh600">
				<li>     
                    <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                        <div class="themeable themeBgOrange themeMarginOne themeBorderTwo big-text">Slide</div>
                        <div class="hidden template">
                             <div class="themeable themeBgOrange themeMarginOne themeBorderTwo page big-text"><div>
							    <div class="page-header"><h1>Heading</h1></div>
							   Slide content goes here
							 </div></div>
                        </div>
                    </a>
				</li>
				<li>     
                    <a  href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                        <div class="themeable themeBgMBP themeMarginOne themeBorderTwo big-text">Slide</div>
                        <div class="hidden template">
                             <div class="themeable themeBgMBP themeMarginOne themeBorderTwo page big-text"><div>
							    <div class="page-header"><h1>Heading</h1></div>
								Slide content goes here
							 </div></div>
                        </div>
                    </a>
				</li>
			</ul>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Background
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu maxh600">
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgWhite');">
                        <div class="themeable themeBgWhite">White</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgGray');">
                        <div class="themeable themeBgGray">Gray</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgCream');">
                        <div class="themeable themeBgCream">Cream</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgBeige');">
                        <div class="themeable themeBgBeige">Beige</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgDark');">
                        <div class="themeable themeBgDark themeInnerWhiten">Dark</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgRed');">
                        <div class="themeable themeBgRed">Red</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgBlue');">
                        <div class="themeable themeBgBlue">Blue</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgGreen');">
                        <div class="themeable themeBgGreen">Green</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgOrange');">
                        <div class="themeable themeBgOrange">Orange</div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBackground('themeBgMBP');">
                        <div class="themeable themeBgMBP">MBP</div>
                    </a>
                </li>

            </ul>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Font set
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableFontSet('themeFontSetOne');">
                        <div class="themeable themeFontSetOne">
                            <h3>Headings</h3>
                            <p>Body text</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableFontSet('themeFontSetTwo');">
                        <div class="themeable themeFontSetTwo">
                            <h3>Headings</h3>
                            <p>Body text</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableFontSet('themeFontSetThree');">
                        <div class="themeable themeFontSetThree">
                            <h3>Headings</h3>
                            <p>Body text</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableFontSet('themeFontSetFour');">
                        <div class="themeable themeFontSetFour">
                            <h3>Headings</h3>
                            <p>Body text</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableFontSet('themeFontSetGeneva');">
                        <div class="themeable themeFontSetGeneva">
                            <h3>Headings</h3>
                            <p>Body text</p>
                        </div>
                    </a>
                </li>

            </ul>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Borders
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBorder('themeBorderNone');">
                        <div class="themeable themeBorderNone">
                            No border
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBorder('themeBorderOne');">
                        <div class="themeable themeBorderOne">
                            Rounded 1px black
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBorder('themeBorderTop');">
                        <div class="themeable themeBorderTop">
                            1px top border
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableBorder('themeBorderTwo');">
                        <div class="themeable themeBorderTwo">
                            A frame-like outer drop-shadow
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Margins
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableMargin('themeMarginNone');">
                        None
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.setThemeableMargin('themeMarginOne');">
                        30px
                    </a>
                </li>
            </ul>
        </div>


        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                Toggles
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.toggleThemeableClass('page');">
                        <h4>Page</h4>
                        <p>Auto-resizes to fill the screen</p>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript: EditWikiPage.toggleThemeableClass('big-text');">
                        <h4>Big Text</h4>
                        <p>A larger font, suitable for embedded slides</p>
                    </a>
                </li>
            </ul>
        </div>

        </section>
        </div>

        <!-- Media elements -->
        <div class="tab-pane" id="mediaTab">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn" onclick="EditWikiPage.showYouTubeForm();">YouTube</button>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Images
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: EditWikiPage.showWebImageForm();">
                                Image from the Web
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: EditWikiPage.showUploadImageForm();">
                                Upload image
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: EditWikiPage.showMediaBrowser();">
                                Media browser
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Programming -->
        <div class="tab-pane" id="codeTab">
            <section class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Code
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <pre>Pretty-printed code</pre>
                                <div class="hidden template">
                                    <pre class="linenums prettyprint">code goes here</pre>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript: theEditor.insertMyTemplate(this);">
                                <div>
                                    <h4>MathJax</h4>
                                    <p></p>
                                </div>
                                <div class="hidden template">
                                    <div class="invisible-code mathjax">Include MathJax</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
        <div class="tab-pane" id="specialTab">
            <section class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn" onclick="javascript: theEditor.toggleMarkup();">
                        &para;
                    </button>
                    <button class="btn" onclick="javascript: theEditor.updateTextAreaSource(); $('#docstrap-edit-html-modal').modal('show');">
                        &lt;HTML&gt;
                    </button>
                    <button class="btn" onclick="javascript: EditWikiPage.insertNextAnchor()">
                        &#x2693;
                    </button>

                </div>
            </section>

        </div>
    </div>

</div>

<div class="modal hide" id="docstrap-edit-html-modal">
    <div class="modal-header">
        <h4>Edit HTML</h4>
    </div>
    <div class="modal-body">
        <form method="POST" id="dosctrap-save-to-server">
        <textarea id="docstrap-edit-html-textarea" name="content"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="javascript: theEditor.updateContentEditableSource(); $('#docstrap-edit-html-modal').modal('hide');">Ok</button>
    </div>
</div>

<div class="modal hide" id="docstrap-weblink-modal">
    <div class="modal-header">
        <h4>Web link</h4>
    </div>
    <div class="modal-body">
        <label>Link text</label>
        <input type="text" id="docstrap-weblink-text" />

        <label>URL</label>
        <input type="text" id="docstrap-weblink-url" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.insertWebLink(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>

<div class="modal hide" id="docstrap-entrylink-modal">
    <div class="modal-header">
        <h4>Direct link to content entry</h4>
    </div>
    <div class="modal-body">
        <label>Link text</label>
        <input type="text" id="docstrap-entrylink-text" />

        <label>Entry ID</label>
        <input type="text" id="docstrap-entrylink-id" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.insertEntryLink(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>

<div class="modal hide" id="docstrap-topiclookup-modal">
    <div class="modal-header">
        <h4>Topic lookup link</h4>
    </div>
    <div class="modal-body">
        <label>Link text</label>
        <input type="text" id="docstrap-topiclookup-text" />

        <label>Topic</label>
        <input type="text" id="docstrap-topiclookup-topic" />

        <label>Noun</label>
        <input type="text" id="docstrap-topiclookup-noun" placeholder="optional"/>

        <label>Adjective</label>
        <input type="text" id="docstrap-topiclookup-adj" placeholder="optional"/>

        <label>Site</label>
        <input type="text" id="docstrap-topiclookup-site" placeholder="optional" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.insertEntryLookup(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>

<div class="modal hide" id="docstrap-youtube-modal">
    <div class="modal-header">
        <h4>YouTube</h4>
    </div>
    <div class="modal-body">
        <label>Video ID</label>
        <input type="text" id="youtube-id" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.insertYouTube(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>

<div class="modal hide" id="docstrap-web-image-modal">
    <div class="modal-header">
        <h4>Upload image</h4>
    </div>
    <div class="modal-body">
        <label>URL</label>
        <input id="docstrap-web-image-url" type="url"  />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.insertWebImage(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>


<div class="modal hide" id="docstrap-upload-image-modal">
    <div class="modal-header">
        <h4>Upload image</h4>
    </div>
    <div class="modal-body">
        <form id="docstrap-upload-image-form" enctype="multipart/form-data">
            <label>File</label>
            <input type="file" name="picture" />

            <label>Description</label>
            <textarea name="shortDesc" placeholder="optional"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <button class="btn btn-primary" onclick="EditWikiPage.uploadImage(); $('.modal').modal('hide');">Insert</button>
    </div>
</div>