@()(implicit request: play.api.mvc.Request[AnyContent])

@import model._;
@import com.wbillingsley.handy._;

<div class="">
    <div class="siteHeader">
        <div class="">
            <div>
                <a href="/"><img height="40" style="height: 40px" id="logo" alt="The Intelligent Book" src="/assets/images/iblogoonly.png"></a>
                <ul class="siteHeaderMenuItems pull-right">
                    <li id="hm_books" class="siteHeaderMenuItem"><a href="/">Home</a></li>
                    <li id="hm_about" class="siteHeaderMenuItem">
                        <a href="/about">About</a>
                    </li>
                    <li id="hm_blog" class="siteHeaderMenuItem">
                        <a href="http://theintelligentbook.blogspot.com">Blog</a>
                    </li>

                    @{
                        SessionStuff.loggedInReader(request) match {
                            case RefItself(r) => {
                                <li class="siteHeaderMenuItem isLoggedIn">
                                    <a href="/account"> 
                                    <img style="max-height: 20px; max-width: 20px; margin-top:0px; vertical-align: bottom;" src={ReaderController.avatarUrl(r)} alt="avatar" />
                                    {r.nickname.getOrElse("Account")}</a>
                                </li>
                            }
                            case _ => {
                                <li id="hm_logout" class="siteHeaderMenuItem isNotLoggedIn">
                                    <a data-toggle="modal" href="#loginBox">Sign up / Login</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="modal hide" id="loginBox">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Log in with one of these accounts</h3>
        </div>
        <div class="modal-body">
            <iframe target="_top" class="loginFrame" src="/login" frameborder="0" ></iframe>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#loginBox').modal({show: false})
        })
    </script>

</div>