@(
    b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)

@import com.theintelligentbook.ibmodel._;

@b.toOption.map { book =>
    <div class="book">
        <div class="image thumbnail">
            <img src="@{BookController.coverImageUrl(book)}" alt="cover image"/>
        </div>
        <div class="details">
            <span id="listEntryShortname">@book.shortName.getOrElse("")</span><br>
            <span class="bookTitle"><a href='@routes.BookController.bookFront(book.id.toString)' id="listEntryLink" class="title">@book.title.getOrElse("Untitled")</a></span>
            <div id="listEntryShortDescription" class="bookSummary">@book.shortDescription.getOrElse("Indescribable")</div>
            @if(!(tok ask SecurityModel.Read(b)).isEmpty) {
                <span class="mayRead"><a href='@routes.ContentController.lookupView(book.id.toString, topic=Some("Page One"))' id="page1link" class="title">(turn to page one)</a></span>
            }
        </div>
    </div>
}