@(id:String)

<form id="@id" onsubmit="javascript: return false;" class="add-entry-form">

    <input type="hidden" name="presentation" class="presentation" />
    <div class="modal-body">
        <div class="form-meta">
            <div>
                <label>Content ID</label>
                <span class="entry-id"></span>
            </div>
            <div>
                <label>Name</label>
                <input name="ce_name" class="ce_name" type="text" placeholder="Optional" />
            </div>
            <div>
                <label>Note</label>
                <textarea name="ce_note" class="ce_note" type="text" placeholder="Optional"></textarea>
            </div>
            <div>
                <label>Tags</label>
                <div class="tags">
                </div>
            </div>
            <div>
                <div class="floatit">
                    <input type="text" class="add-tag-inp" />
                    <div class="btn-group">
                        <button type="button" class="btn" data-toggle="dropdown">Add tag <span class="caret"></span></button>
                        <div class="dropdown-menu">
                            <li><a href="#" onclick="IBAddForms.addTopic('#@id')" class="topic">Topic tag</a></li>
                            <li><a href="#" onclick="IBAddForms.addNoun('#@id')" class="noun">Type tag</a></li>
                            <li><a href="#" onclick="IBAddForms.addAdj('#@id')" class="adj">Adjective tag</a></li>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="form-ticks">
            <span class="add-to-pres-pair">
                <input type="checkbox" name="ce_inTrash" class="in-trash" />
                <label>In trash</label>
            </span>

            <input type="checkbox" name="ce_showFirst" class="show-first"/>
            <label>Show first</label>

            <input type="checkbox" name="ce_protect" class="protect" />
            <label>Protect</label>
        </div>
        <div style="height: 50px;"></div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button type="button" class="btn btn-primary" onclick="IBAddForms.performEditTags()">Save</button>
    </div>

</form>

