@() {

<div class="modals dont-print">

	<div class="modal hide dont-print" id="add-url-entry-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Add web page</h3>
		</div>
		@templateAddForm("add-url-entry")("javascript: IBAddForms.performAdd('#add-url-entry', 'addURLEntry')"){
			<div class="form-main">
				<label>URL</label> <input type="text" name="ce_refval"
					class="refval" placeholder="http://example.com" required="required" />
			</div>
		}
	</div>

	<!-- Form for adding YouTube videos -->
	<div class="modal hide" id="add-youtube-entry-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Add YouTube</h3>
		</div>
		@templateAddForm("add-youtube-entry")("javascript: IBAddForms.performAdd('#add-youtube-entry', 'addYouTubeEntry')"){
			<div class="form-main">
				<label>YouTube video ID</label> <input type="text" name="ce_refval"
					class="refval" placeholder="Video ID" required="required" />
			</div>
		}
	</div>
	
  <!-- Form for adding a new Markup Wiki page -->
  <div class="modal hide" id="add-markup-wikipage-entry-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h3 id="add-title">Add wiki page (Markdown)</h3>
    </div>
    @templateAddForm("add-markup-wikipage-entry")("javascript: IBAddForms.performAdd('#add-markup-wikipage-entry', 'addMarkupWikiPageEntry')"){
      <div class="form-main">
        <p>(You can edit the content after the page is created)</p>
      </div>
    }
  </div>	

	<!-- Form for adding a new Wiki page -->
	<div class="modal hide" id="add-wikipage-entry-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 id="add-title">Add wiki page (HTML)</h3>
		</div>
		@templateAddForm("add-wikipage-entry")("javascript: IBAddForms.performAdd('#add-wikipage-entry', 'addWikiPageEntry')"){
			<div class="form-main">
				<p>(You can edit the content after the page is created)</p>
			</div>
		}
	</div>

	<div class="modal hide" id="add-poll-entry-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Add poll</h3>
		</div>
		@templateAddForm("add-poll-entry")("javascript: IBAddForms.performAdd('#add-poll-entry', 'addPollEntry')"){
			<div class="form-main">
				<p>(You can edit the content after the poll is created)</p>
			</div>
		}
	</div>

	<div class="modal hide" id="upload-zip-entry-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3>Add poll</h3>
		</div>
		@templateAddForm("upload-zip-entry")("javascript: IBAddForms.performAdd('#upload-zip-entry', 'uploadZipEntry')"){
			<div class="form-main">
				<label>Zip of images</label> <input type="file" name="file" />
			</div>
		}
	</div>

</div>

}