@(
b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book],
tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;

<div class="controls">
    @if(!(tok ask SecurityModel.Read(b)).isEmpty) {
    <div class="basicActions">
        <h4>Read</h4>
        <ul>
            <li><a href='@routes.ContentController.lookupView(b.getId.get.toString, topic=Some("Page One"))'>Open to page One</a></li>
            <li><a href='@routes.BookController.viewBookIndex(b.getId.get.toString)'>Index</a></li>
    		<li><a href='@routes.ChatController.viewBookChat(b.getId.get.toString)'>Chat stream</a></li>
        </ul>
    </div>
    }

    @if(!(tok ask SecurityModel.EditBook(b)).isEmpty) {
    <div class="adminActions">
        <h4>Administer</h4>
        <ul>
            <li><a href="@routes.BookController.editBook(b.getId.get.toString)">Edit details</a></li>
            <li><a href="@routes.BookController.manageInvitesView(b.getId.get.toString)">Manage invites</a></li>
        </ul>
    </div>
    }


    @if(!tok.who.fetch.isEmpty) {
    <div class="yourRoles">
        <h4>Roles</h4>
        @{
        val r = SecurityModel.getRoles(b, tok.who)
        if (r.isEmpty) {
        <p>You are not registered with this book.</p>
        } else {
        <p>You have the following roles on this book:</p>
        <ul>{
            r.map { role:BookRole =>
            <li>{role.toString}</li>
            }
            }</ul>
        }
        }
        <div class="inviteForm">
            <form method="POST" action="@routes.BookController.handleUseInvite(b.getId.get.toString)">
                <h5>Use invite code</h5>
                <input type="text" name="code" placeholder="code" />
                <button type="submit" class="btn">Use</button>
            </form>
        </div>
    </div>
    }


</div>

