@(
    book:com.theintelligentbook.ibmodel.mongo.Book,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import Ref._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


<div >

	<div class="book-navbar">
		<div class="book-image">
			<img src=@BookController.coverImageUrl(book) alt="cover image"/>
		</div>
		<div class="book-title">
			<h1>@book.title.getOrElse("Untitled")</h1>
		</div>
		<ul class="nav">
			<li><a href='@routes.BookController.bookFront(book.id.toString)'>Cover &amp; membership</a></li>
			
      @if(!(tok ask SecurityModel.Read(book.itself)).isEmpty) {
				<li><a href='@routes.BookController.viewBookContent(book.id.toString)'>Content</a></li> 
				<li><a href='@routes.ChatController.viewBookChat(book.id.toString)'>Chat Stream</a></li>
        <li><a href='@routes.QnAController.viewListQuestions(book.id.toString)'>Q&amp;A</a></li>
			}
	    @if(!(tok ask SecurityModel.ViewStats(book.itself)).isEmpty) {				
				<li><a href='@routes.BookController.viewEventsChart(book.id.toString)'>Charts</a></li>
			}
		</ul>

	</div>



</div>
<div style="clear: both;"></div>
