@()

@templateFront("theIntelligentBook.com") {

    <form action="storeImage" method="POST" enctype="multipart/form-data">
        <label>File</label>
        <input type="file" name="picture" />

        <label>shortDesc</label>
        <textarea name="shortDesc" placeholder="foo bar baz"></textarea>
        <button type="submit">Submit</button>
    </form>

}
