@(
    book:com.theintelligentbook.ibmodel.mongo.Book,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader],
    question:com.theintelligentbook.ibmodel.mongo.QnAQuestion
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(book.title.getOrElse("Untitled book")) {

  <script src="@routes.Assets.at("lib/handlebars/handlebars.js")" ></script>  
  <script src="@routes.Assets.at("lib/timeago/jquery.timeago.js")" type="text/javascript"></script>  
  
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Converter.js")"></script>
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Sanitizer.js")"></script>
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Editor.js")"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/pagedown/demo.css")">  

  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qna.css")">

  @headerSmall()
  @subheaderBook(book, tok)

  <div>
	  <div class="question-div" id="question">
	
	    loading...
	    
	
	  </div>
  
    <div class="add-answer">
      <h3>Your answer:</h3>
	    <form action="@{question.id.toString}/addAnswer" method="POST" enctype="multipart/form-data" >
	      <div class="row-fluid">
		      <div class="span6">      
		        <div id="wmd-button-bar"></div>
		        <textarea name="body" id="wmd-input" style="min-width: 480px; min-height: 150px;"></textarea>
		      </div>
		      <div class="span6">
            <div id="wmd-preview">
            </div>		      
		      </div>
	      </div>
        <button class="btn btn-primary"><i class="icon-plus"></i> Answer</button>
	    </form> 
	    
	    
    </div>
  
  </div>


  <script id="question-template" type="text/x-handlebars-template">
    <h3>{{title}}</h3>
    <div>{{markdown body}}</div>
    <div class="question-footer">asked by {{addedBy.nickname}} {{time created}}</div>
    <div>
      {{#each comments}}
        <div class="comment">{{text}} - <span class="comment-by">{{addedBy.nickname}} {{time date}}</span></div>
      {{/each}}
      <div class="add-comment">
        <a onclick="javascript: IBQna.replaceWithQCommentForm(this)">add comment</a>
      </div>
    </div>
    <div>
      {{#each answers}}
        <div class="answer">{{markdown body}}</div>
        <div class="answer-footer">answer by {{addedBy.nickname}} {{time created}}</div>
        {{#each comments}}
          <div class="comment">{{text}} - <span class="comment-by">{{addedBy.nickname}} {{time date}}</span></div>
        {{/each}}
        <div class="add-comment">
          <a onclick="javascript: IBQna.replaceWithAnsCommentForm(this)" data-answer-id="{{id}}">add comment</a>
        </div>
      {{/each}}
    </div>
  </script>
  
  <script id="q-comment-template" type="text/x-handlebars-template">
      <form method='POST' action='{{qid}}/addQComment' enctype='multipart/form-data'>
        <textarea name="body" placeholder="Insert your comment here"></textarea>
        <button type="submit" class="btn btn-mini">Comment</button>
      </form>
  </script>

  <script id="ans-comment-template" type="text/x-handlebars-template">
      <form method='POST' action='{{qid}}/addAnsComment' enctype='multipart/form-data'>
        <input type="hidden" name="answer" value="{{ansid}}" />
        <textarea name="body" placeholder="Insert your comment here"></textarea>
        <button type="submit" class="btn btn-mini">Comment</button>
      </form>
  </script>

  <script>
    IBData = {
    		qid: "@question.id.toString"
    }   
	</script>

  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewQnaQuestion").url)

    
}