@(
    ceRef:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.ContentEntry],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader],
    skip:Int
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront("Comments") {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/comments.css")">
<div class="container">
@{
  
  val limit = 20
  val comments = ContentModel.getComments(ceRef, tok, skip=skip, limit=limit).fetch.toSeq
  
  val commentblocks = comments map {
    c =>
      <div class="comment">
    	<div class="from">
    		{c.reader.toOption.flatMap(_.nickname).getOrElse("Anonymous")}
    	</div>
    	<div class="comment-text">
	  		{c.comment.getOrElse("")}
    	</div>
    	<div class="date">
    		{c.time.toString}
    	</div>
	  </div>
  } 
  
  val pid = ceRef.getId.map(_.toString).getOrElse("")
  def pag(p:Int, active:Boolean=false, disabled:Boolean = false, str:Option[String]=None) = {
	  if(active) {
		<li class="active"><a>{str.getOrElse(p + 1)}</a></li>
	  } else if(disabled) {
	    <li class="disabled"><a>{str.getOrElse(p + 1)}</a></li>
	  } else {
	    <li><a href={routes.CommentsController.viewForEntry(pid, skip=Some(p * 20)).url} >{str.getOrElse(p + 1)}</a></li>
	  }
  }
  
  
  val lastPage = (comments.length - 1) / limit
  val curPage = if (skip >= 0) { skip / limit } else { lastPage } 
  val pagination = 
    <div class="center">
    <div class="pagination pagination-small"><ul>
  		{ pag(p=curPage-1, disabled = curPage <= 0, str=Some("<")) }
  		{
		    for (i <- 0 to lastPage) yield {    
			   pag(p=i, active= i == curPage) 
		    }
  		}
  		{ pag(p = curPage + 1, disabled = curPage >= lastPage, str=Some(">"))}
  	</ul></div></div>
  
  commentblocks ++ pagination
  
}


@if(!(tok ask SecurityModel.Comment(ceRef)).isEmpty) {
  
  <form method="POST" action="addComment" enctype="multipart/form-data">
	<textarea name="comment" placeholder="Comment"></textarea><br />
	<button class="btn btn-primary" type="submit">Submit</button>
  </form>
  
}
</div>


}