@(
    b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(b.toOption.flatMap(_.title).getOrElse("Untitled book")) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">

    @headerSmall()
    @b.toOption.map { book =>
    	@subheaderBook(book, tok)

        <div class="topHalf">
    		
    		<div class="btn-group">          
    		  <a class="btn drop-down-toggle btn-mini btn-primary" data-toggle="dropdown" href="#"><i class="icon-plus"></i> Add content <span class="caret"></span></a>
    		  <ul class="dropdown-menu">
            <li>
              <button class="btn btn-link" onClick="$('#add-webpage-form').modal({show: true})">Add external webpage</button>
            </li>
            <li>
              <button class="btn btn-link" onClick="$('#add-youtube-form').modal({show: true})">Add YouTube video</button>
            </li>    		  
            <li>
              <button class="btn btn-link" onClick="$('#add-googleslides-form').modal({show: true})">Add Google Slides presentation</button>
            </li>         
            <li class="divider"></li>    		  
            <li>
              <form action="addMarkupWikiPageEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
                <button class="btn btn-link" type="submit">Create wiki page (Markdown)</button>
              </form>              
            </li>
            <li>
              <form action="addWikiPageEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
                <button class="btn btn-link" type="submit">Create wiki page (HTML)</button>
              </form>              
            </li>
            <li class="divider"></li>
            <li>
              <form action="addPollEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
                <button class="btn btn-link" type="submit">Create poll (pick one / pick many)</button>
              </form>              
            </li>
            <li>
              <form action="addTextPollEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
                <button class="btn btn-link" type="submit">Create poll (free text)</button>
              </form>              
            </li>
    		  </ul>
    		</div>
    		
    		<div class="row-fluid">          

    			<div class="span7">
    		
    		
    			<ul class="content-list">
    			<li>
          <div class="title">
    				<a href='@routes.ContentController.lookupView(book.id.toString, topic=Some("Page One"))' class="title">
    				Page One
    				</a>
    				</div>
    				The front page of the book
    				<br />
    			</li>
    			<li>
    				<div class="title">
    				<a href='@routes.BookController.viewBookIndex(book.id.toString)'>Index</a>
    				</div>
    				A table of every content item in the book
    			</li>
    			</ul>

    			<div class="contentTypes">

    			@book.listNouns.map { titleAndTag => 
    	  
    				<h3>@titleAndTag.title</h3>
    					
    			  	<ul class="content-list">
    				@ContentModel.queryContentEntries(RefItself(book), tok, Map("nouns" -> titleAndTag.tag)).map { c => 
    			    	<li>
    						<div class="title">
    							<a href='@routes.ContentController.lookupView(book.id.toString, entry=Some(c.id.toString))' class="title">
    								@c.name.getOrElse("Untitled")
    							</a>
    						</div>
    						@c.shortDescription.map { d => @d <br /> }
    						
    						@c.adjectives.map { a => <span class="label label-important">@a</span> }
    						@c.nouns.map { a => <span class="label label-warning">@a</span> }
    						@c.topics.map { a => <span class="label label-info">@a</span> }
    						</li>
    					}
    					</ul>
    	  
    				}

        		</div>
    			</div>

    			<div class="span5"><div class="well">
    				<h4>Recently updated</h4>

    				<ul class="content-list">
    				@ContentModel.recentlyUpdated(RefItself(book), tok).map { c => 
    			    	<li>
    						<div class="title">
    							<a href='@routes.ContentController.lookupView(book.id.toString, entry=Some(c.id.toString))' class="title">
    								@c.name.getOrElse("Untitled")
    							</a>
    						</div>
    						@c.shortDescription.map { d => @d <br /> }
    						
    						@c.adjectives.map { a => <span class="label label-important">@a</span> }
    						@c.nouns.map { a => <span class="label label-warning">@a</span> }
    						@c.topics.map { a => <span class="label label-info">@a</span> }
    						<br />
    						@c.lastUpdate.map(_.toString)
    					</li>
    				}
    				</ul>
    			</div></div>
    		</div>
    	</div>
    	
    	<div class="modal hide" id="add-webpage-form">
    	  <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	    <h3>Add external webpage</h3>
    	  </div>
        <form action="addURLEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
          <div class="modal-body">
            <label>URL</label> <input type="url" required name="ce_refval" placeholder="http://example.com" />
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>              
    	</div>
    	
      <div class="modal hide" id="add-youtube-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Add YouTube</h3>
        </div>
        <form action="addYouTubeEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
          <div class="modal-body">
            <label>YouTube video ID</label> <input type="text" required name="ce_refval" />
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>              
      </div>    	

      <div class="modal hide" id="add-googleslides-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Add Google Slides</h3>
        </div>
        <form action="addGoogleSlidesEntry" method="POST" enctype="multipart/form-data" style="margin-bottom: 0">
          <div class="modal-body">
            <label>Embed code</label> <input type="text" required name="ce_embedCode" />
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>              
      </div>      

    }
}