@(
    b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(b.toOption.flatMap(_.title).getOrElse("Untitled book")) {

    <script src='@routes.Assets.at("lib/d3/d3.v2.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/eventViewer.js")' async="async"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chatRoom.css")">

    @headerSmall()
    @b.toOption.map { book =>
    	@subheaderBook(book, tok)
    	<div class="topHalf">

        	<div class="member-list-div">
        		Chat participants
        		<ul class="member-list">
        		</ul>
        	</div>
            <div class="chat-room">

                @if(!(tok ask SecurityModel.Chat(b)).isEmpty) {
                <form action="#">
                    <div>
                        <textarea id="chat-content" class="require-chat" name="content" placeholder="Say something"></textarea>
                    </div>
                    <input type="checkbox" id="chat-anon" value="true" /><i>anonymously</i>
                    <button type="button" class="btn-mini require-chat" onclick="javascript: IBChatStream.chat({});">Chat</button>

                </form>
                } else {
                    <div class="alert alert-info">You don't have permission to chat in this book.</div>
                }
                <div class="chat-stream"></div>
            </div>

        </div>

        <script>
          	window.IBData = {
          			bookId: "@b.getId.get.toString"
          	}
        </script>

      @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewChatStream").url)

    }
}