@(
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.theintelligentbook.ibmodel._;
@import com.wbillingsley.handy._;
@import RefConversions._;

@headerFront()

<div class="row-fluid">

<div class="span4" style="">
    <div class="news">
        <h4>We're in alpha...</h4>
        <p>This software is experimental, but we'd welcome early adopters who'd like to try it out. <a href="about">Find out more and get in touch!</a></a></p>
		<p>It's been used on 3 courses at The University of Queensland, and now we're looking for more.</p>
    </div>

	<div class="infoItem">
		<h4>In a nutshell...</h4>
		<p>We want to make social, interactive, data-rich in-class teaching easy.</p>
		<ul>
			<li>Whether you're starting your course afresh, whether you've got piles of content you don't want to rewrite</li>
			<li>Whether it's video, or pdf, or slide decks, or edited live in class</li>
			<li>Whether you're writing it, or the class is writing it, or you're reusing the web</li>			
		</ul>
	</div>
	

</div>

<div class="span8">
    <div class="bookRow">
        <h2>My courses</h2>
        <div class="books">
            @{
                tok.who.toOption match {
                    case Some(r) => {
                        val set = BookModel.myBooks(RefItself(r))
                        if (set.isEmpty) {
                            <p class="noBooks">
                                You haven't got any books yet.  Have a look further down for some books you might want
                                to read.
                            </p>
                        } else {
                            set.map({ b => snipMiniBook(b, tok) })
                        }
                    }
                    case _ => {
                        <p class="noBooks">
                            Log in to register with books
                        </p>
                    }
                }
            }
        </div>
        @{
            if (!(tok ask SecurityModel.CreateBook).isEmpty) {
                <div>
                    <div class="center">
                        <a class="btn btn-primary" data-toggle="modal" href="#newBookModal">Create a new course	</a>
                    </div>

                    <div class="modal hide" id="newBookModal">
                        <form method="POST" action="/books/create">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3>Create a new book</h3>
                            </div>
                            <div class="modal-body">
                                    <label>Title</label>
                                    <input type="text" name="book.title" />

                                    <label>Short description</label>
                                    <textarea type="text" name="book.shortDesc" ></textarea>

                                    <p><i>You can edit more details after we've created the book.</i></p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Close</a>
                                <button class="btn btn-primary" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        }
    </div>

    <div class="bookRow">
        <h2>Publicly listed courses</h2>
        <div class="books">

            @{
                val set = BookModel.listedBooks
                if (set.isEmpty) {
                    <p class="noBooks">
                        There are no publicly listed books. (There may be plenty that have chosen not to be listed on the front page)
                    </p>
                } else {
                    set.map({ b => snipMiniBook(b, tok) })
                }
            }

        </div>

    </div>
</div>
            
</div>


