@(b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book], js: play.api.libs.json.JsValue)(implicit request: play.api.mvc.Request[AnyContent])

@b.toOption.map { book =>

    @templateFront(book.title.getOrElse("Untitled book")) {

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lookupContent.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/entryComments.css")">
        <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/lookupContentPrint.css")">

        <div class="ibTopNav dont-print">

            <ul class="bookNav">
                <li class="navli"><a href="@routes.Application.index()" title="Home" class="command"><img src='/assets/images/iblogoonly.png' alt="Home" /></a></li>
                <li class="navli"><a href="@routes.BookController.bookFront(book.id.toString)" title="Book" class="command"><i class="icon-book"></i></a></li>
                <li class="navli"><button class="command" id="page-one-button" onclick="javascript: IBViewer.goToPageOne();" title="Page One">p1</button></li>
                <li class="navli"><button class="command" id="pres-start-button" type="button" onclick="javascript: IBViewer.goToPresStart();" title="Start of presentation"><i class="icon-fast-backward"></i></button></li>
            </ul>

            <ul class="ceTools">
                <li class="navli"><button class="command require-edit" title="Edit details and tags" onclick="javascript: IBAddForms.showEditTags(IBViewer.currCe(), IBViewer.viewing.presentation);"><i class="icon-tags"></i></button></button></li>
                <li class="navli"><button class="command require-edit" id="edit-button" title="Edit content" onclick="javascript: IBViewer.editContent();"><i class="icon-edit"></i></button></li>
                <li class="navli">
                    <div class="btn-group command">
                        <button data-toggle="dropdown" class="command require-add">
                            <i class="icon-plus"></i>
                        </button>
                        <div class="dropdown-menu pull-right">
                            <button class="menu-line" onclick="javascript: IBAddForms.showAddMarkupWikiPage(false);">Wiki page (Markdown)</button>
                            <button class="menu-line" onclick="javascript: IBAddForms.showAddWikiPage(false);">Wiki page (HTML)</button>
                            <button class="menu-line" onclick="javascript: IBAddForms.showAddWeb(false);">Web page</button>
                            <button class="menu-line" onclick="javascript: IBAddForms.showAddPoll(false);">Live poll</button>
                            <button class="menu-line" onclick="javascript: IBAddForms.showAddYouTube(false);">YouTube</button>
                            <button class="menu-line" onclick="javascript: IBAddForms.showUploadZip(false);">Upload zip</button>
                        </div>
                    </div>
                </li class="navli">
                <!--<li class="navli"><a href="" title="Print"><i class="icon-print"></i></a></li>-->
            </ul>

            <div id="ceInfo" class="ceInfo">
            
                <span class="spacer"></span>
            
                <span>
                  <button class="command require-vote" onClick="IBViewer.downVote();" title="downvote"><i class="icon-sort-down"></i></button>
                  <span id="ce-score">3</span>                  
                  <button class="command require-vote" onClick="IBViewer.upVote();" title="upvote"><i class="icon-sort-up"></i></button>
                </span>
            
                <span class="title">(Title)</span>
                <span>
                  
                  <a class="command content-url-link" title="open content in new tab" target="_blank"><i class="icon-external-link"></i></a>
                </span>

                <span class="spacer"></span>
                
                <span>                
                <button class="command require-chat" title="Comments" onclick="javascript: IBViewer.showCommentsModal();">
                  <span id="ce-comment-count">0</span> <i class="icon-comments"></i>
                </button>
                </span>

                <span class="spacer"></span>

                <span class="tags">
                    <span class="adjs">
                    </span>
                    <span class="nouns">
                    </span>
                    <span class="preposition">about</span>
                    <span class="topics">
                    </span>                    
                </span>



            </div>


        </div>

        <div id="middle-wrap">
            <div id="middle">
                <div id="middle-left">
                    <div id="left-panel" class="closed dont-print">

                        <div id="slide-sorter" class="slide-sorter">
                            <div class="ss-commands">
                                <div class="add">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="command require-pres-add">
                                            <i class="icon-plus"></i> New slide
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="menu-line" onclick="javascript: IBAddForms.showAddMarkupWikiPage(true);">Wiki page (Markdown)</button>
                                            <button class="menu-line" onclick="javascript: IBAddForms.showAddWikiPage(true);">Wiki page (HTML)</button>
                                            <button class="menu-line" onclick="javascript: IBAddForms.showAddWeb(true);">Web page</button>
                                            <button class="menu-line" onclick="javascript: IBAddForms.showAddPoll(true);">Live poll</button>
                                            <button class="menu-line" onclick="javascript: IBAddForms.showAddYouTube(true);">YouTube</button>
                                            <button class="menu-line" onclick="javascript: IBAddForms.showUploadZip(true);">Upload zip</button>
                                            <button class="menu-line" onclick="javascript: IBViewer.showAppendToPres();">Existing content</button>
                                        </div>
                                    </div>
                                </div>
                                <span class="group-actions">
                                    <button class="command require-pres-edit"><i class="icon-tags"></i></button>
                                    <button class="command require-pres-edit" onclick="IBViewer.showRemovePresEntriesForm();"><i class="icon-remove"></i></button>
                                </span>
                            </div>
                            <div class="ss-scroll">
                                <div class="slides" id="ss-pres-slide">
                                    <div class="slide" onclick="javascript: IBViewer.goToPresStart();">
                                        <div class="slide-number">0</div>
                                        <div class="name">About presentation</div>
                                    </div>
                                </div>
                                <div class="slides" id="ss-slide-list">
                                </div>
                            </div>

                        </div>
                        <div id="make-presentation">
                            <p>You're not viewing this slide as part of a presentation</p>
                            <button class="btn require-add" onclick="IBViewer.makePresentation()">Make presentation</button>
                        </div>
                        <div id="other-presentations">
                        </div>
                    </div>
                    <div id="left-panel-control" class="closed dont-print">
                        <a href="#" onclick="javascript: IBPanes.toggleLeftPanel();"><img src='/assets/images/slideSorter_full.png' alt="Slide sorter" /></a>
                    </div>
                    <div id="left-edge" class="dont-print">
                        <button id="prev-button" type="button" onclick="javascript: IBViewer.prevSlide()"><i class="icon-chevron-left"></i></button>
                    </div>
                    <div id="right-panel-holder" class="closed dont-print">
                        <div id="right-panel">
                            <form action="#">
                                <textarea id="chat-content" class="require-chat" name="content" placeholder="Say something"></textarea>
                                <input type="checkbox" id="chat-anon" value="true" /><i>anonymously</i>
                                <button type="button" class="btn-mini require-chat" onclick="javascript: IBViewer.chat();">Chat</button>

                            </form>
                            <div class="chat-stream"></div>
                        </div>
                        <div id="right-panel-control">
                            <a href="#" onclick="javascript: IBChatStream.start(); IBPanes.toggleRightPanel();"><img src='/assets/images/sq_chat.png' alt="Chat pane" /></a>
                        </div>
                    </div>
                    <div id="right-edge" class="dont-print">
                        <button id="next-button" type="button" onclick="javascript: IBViewer.nextSlide()"><i class="icon-chevron-right"></i></button>
                    </div>

                    <!-- The content -->
                    <div id="main-content">
                        <!-- Loading notice in background -->
                        <div class="loading-notice dont-print">
                            External content not displaying?  Some sites don't like to be framed.
                            Try using the <i class="icon-external-link"></i> Pop-out button in the toolbar to open it in a new tab.
                        </div>

                        <!-- Content is placed here by Javascript -->
                    </div>
                </div>
            </div>
        </div>


        <div id="ib-bottom-panel-holder" class="dont-print">
            <div id="ib-bottom-panel-controls">

            </div>
            <div id="ib-bottom-panel"></div>
        </div>


        @snipAddContent()

        <div class="modals dont-print">

            <div class="modal hide" id="edit-tags-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Edit details</h3>
                </div>
                @snipEditTags("edit-tags")
            </div>

            <div class="modal hide" id="list-entries-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Entries for <span id="list-entries-topic"></span></h3>
                </div>
                <div class="modal-body">
                    <div class="querying-message">
                        <p>Querying server...</p>
                    </div>
                    <div id="list-entries-div">

                    </div>
                </div>
            </div>

            <!-- Form for removing entries from a presentation -->
            <div class="modal hide" id="remove-from-pres-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Remove entries from presentation</h3>
                </div>
                <div class="modal-body">
                    <form id="remove-from-pres-form">
                        <div id="remove-from-pres-item-list">
                        </div>
                        <input type="checkbox" name="trash" />
                        Also put entries in trash?
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-danger" onclick="IBViewer.submitRemovePresEntriesForm()">Remove</button>
                </div>
            </div>

            <!-- Form for appending an existing entry to a presentation -->
            <div class="modal hide" id="append-to-pres-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Add an existing content entry</h3>
                </div>
                <div class="modal-body">
                    <form id="append-to-pres-form">
                        <label>Content ID</label>
                        <input name="entryId" type="text" />
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <button type="button" class="btn btn-success" onclick="IBViewer.submitAppendToPresForm()">Add</button>
                </div>
            </div>

            <!-- Comments modal -->
            <div class="modal hide" id="comments-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Comments</h3>
                </div>
                <div class="modal-body">
                    <div id="entry-comments">
                		<div class="comments">
                		</div>

                		<div class="pagination pagination-small">
                			<ul></ul>
                		</div>                

                		<form id="submit-comment">
                			<textarea name="comment" placeholder="Comment" class="require-chat"></textarea><br />
                			<button class="btn btn-primary require-chat" type="button" onclick="javascript: CommentsViewer.submitComment()">Submit</button>                			
                		</form>

                	</div>
                </div>
            </div>
                
          <!-- Sets data needed by some of the scripts -->
	        <script>            
	              window.IBData = {
	                  bookId: "@b.getId.get.toString"
	              }       
	              
	              window.ib_init = @Html(js.toString)	              
	        </script>
	        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewContent").url)

        </div>

}

}