@(page:MarkupWikiPage)(implicit request: play.api.mvc.Request[AnyContent])

    @templateFront("page " + page.id.toString) {

    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/viewWikiPage.css")">
    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/viewPoll.css")">
    

    <div id="md-dest" ></div>
    
<div style="display: none">
    <script>
      var pageResizer = function() {
        var h = $(window).height()
        $(".page").css("min-height", 
            function (index, value) {
            return "" + h - ($(this).outerHeight(true) - $(this).height()) + "px"
          }
        )
      }
      $(window).resize(pageResizer)
      pageResizer()
    </script>
    <textarea id="md-src" style="display: none;" id="article_text" >@Html(page.content)</textarea>
    
<script>
window.IBData = {
  bookId: "@page.book.getId.get.toString"
}
</script>

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewMarkupWikiPage").url)
    
}
</div>
    