@(
    book:com.theintelligentbook.ibmodel.mongo.Book,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(book.title.getOrElse("Untitled book")) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">
	<script src="@routes.Assets.at("lib/tablesorter/jquery.tablesorter.min.js")" type="text/javascript"></script>
    @headerSmall()
    	@subheaderBook(book, tok)

        <div class="topHalf">
    		
    		<div class="row-fluid">

    			<table class="table">
    			<thead>	
    				<th>Title</th>
    				<th>Type tags</th>
    				<th>Topics</th>
    				<th>Kind</th>
    				<th>Site</th>
    				<th>Last updated</th>
    				<th>Score</th>
    				<th>Votes</th>
    				<th>Comments</th>
    			</thead>
    			<tbody>
    					@ContentModel.queryContentEntries(RefItself(book), tok, Map.empty[String,String]).map { c => 
    			    	<tr>    						
    						<td class="title">
    							<a href='@routes.ContentController.lookupView(book.id.toString, entry=Some(c.id.toString))' class="title">
    								@c.name.getOrElse("Untitled")
    							</a>
    						</td>
    						<td>
    							@c.adjectives.map { a => <span class="label label-important">@a</span> }
    							@c.nouns.map { a => <span class="label label-warning">@a</span> }
    						</td>
    						<td>
    							@c.topics.map { a => <span class="label label-info">@a</span> }
    						</td>
    						<td>
    							@c.kind
    						</td>
    						<td>
    							@c.site
    						</td>
    						<td>
    							@c.lastUpdate
    						</td>   
    						<td><span class="badge badge-success">@c.score</span></td>
    						<td><span class="badge">@c.voteCount</span></td>
    						<td><span class="badge badge-warning">@c.commentCount</span></td>
    					}
    					</tr>

    			</tbody>
    			</table>

    		</div>
    	</div>
    	
    	<script>
    	$(function(){ 
		  $(".table").tablesorter(); 
		});
    	</script>
    	
    	<style>
    	.tablesorter-headerSortUp .tablesorter-icon:after {
    		content: " ▲";
    		color: lightGray;  
    		font-style: normal;
    	}
    	.tablesorter-headerSortDown .tablesorter-icon:after {
    		content: " ▼";
    		color: lightGray;    		
    		font-style: normal;
    	}
    	</style>

}