@(b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book])(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(b.toOption.flatMap(_.title).getOrElse("Untitled book")) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">

@headerFront()
<div class="bookDetails">
    @b.toOption.map { book =>

    <h2>Active invites <small><a href="@routes.BookController.bookFront(book.id.toString)">@book.title</a></small></h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Roles</th>
                <th>Number</th>
                <th>Remaining</th>
            </tr>
        </thead>
        <tbody style="background-color: white;">
        @book.invites.map { invite =>
            <tr>
                <td>@invite.code</td>
                <td>@invite.roles.map { r => <span>@r.toString</span> }</td>
                <td>@if(invite.limitedNumber) { @invite.number } else { unlimited }
                </td>
                <td>@if(invite.limitedNumber) { @invite.remaining } else { unlimited }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="row-fluid">
        <h4>Create an invite code</h4>
        <form method="POST" action="@routes.BookController.handleCreateInvite(book.id.toString)">
            <label>Code</label>
            <input name="code" placeholder="(Auto-generate)" type="text" value="" />

            <label>Roles</label>
            @{  BookRole.values map { r =>
                <span class="checkpair">
                    <input type="checkbox" name="role" value={r.toString} />
                    <span>{r.toString}</span>
                </span>
            }}
            <label>Number of uses</label>
            <input type="checkbox" name="limitedNumber" value="true" onclick="javascript: $('#create-invite-number').attr('disabled', !$(this).attr('checked'));"/>
            <span> limited to </span>
            <input id="create-invite-number" type="text" name="number" placeholder="how many"/>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
    }

}
</div>