@(p:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.WikiPage])(implicit request: play.api.mvc.Request[AnyContent])

@p.toOption.map { page =>

    @templateFront("page " + page.id.toString) {

    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
    <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/viewWikiPage.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideThemes1.css")">
    <link rel="stylesheet" media="print" href="@routes.Assets.at("stylesheets/slideThemes1Print.css")">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>

    <div class="wikiContent" id="article_text" >@Html(page.content)</div>

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewWikiPage").url)
}
    
}
