@(
    p:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Poll],
    resp:Option[com.theintelligentbook.ibmodel.mongo.PollResponse],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@p.toOption.map { poll =>

@templateFront("poll " + poll.id.toString) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewPoll.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideThemes1.css")">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>

<div class="themeCreamBg">
    <div class="themeMargin">
	@if(!(tok ask SecurityModel.EditPoll(p)).isEmpty) {
		<p style="float: right; margin-right: 20px;">
			<button class="btn" onclick="javascript: IBPollResults.pushPollToChat('@poll.id.toString');">Push to chat stream</button>
		<p>
	}

		@Html(poll.question.getOrElse("No content"))

	</div>
<div class="themeMargin themeBorderOne"><div class="themeBeigeBg themeFourFonts">
<div class="tabbable" >
    <ul class="nav nav-tabs" id="editTools" style="margin-bottom: 0px;">
        <li class="active"><a href="#voteTab" data-toggle="tab">Vote</a></li>
        @if(
            (!(tok ask SecurityModel.EditPoll(p)).isEmpty) ||
            (poll.answerVisibility == PollResultsVisibility.afterVote && !resp.isEmpty)
        ) {
            <li class=""><a href="#feedbackTab" data-toggle="tab">Feedback</a></li>
        }
        @if(
            (!(tok ask SecurityModel.EditPoll(p)).isEmpty) ||
            (poll.resultsVisibility == PollResultsVisibility.afterVote && !resp.isEmpty) ||
            (poll.resultsVisibility == PollResultsVisibility.visible)
        ) {
            <li class=""><a href="#resultsTab" data-toggle="tab">Results</a></li>
        }
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="voteTab">

            <form action="@routes.PollController.vote(poll.id.toString)" method="POST" enctype="multipart/form-data">
                @if(poll.mode == PollMode.chooseOne) {
                    @{
                        val disable = (!resp.isEmpty) && (!poll.mayMoveVote)
                        for (i <- 0.until(poll.options.length)) yield {
                            val check = resp.map(_.answer).getOrElse(Set.empty[Int]).contains(i)
                            val disable = (!resp.isEmpty) && (!poll.mayMoveVote)
                            <div class="option">
                                <input type="radio" name="answer" value={i.toString} checked={if(check) { "checked" } else { null }}
                                    disabled={if(disable) { "disabled" } else { null }}
                                />
                                <label>{poll.options(i)}</label>
                            </div>
                        }
                    }
                } else {
                    @{
                        val disable = (!resp.isEmpty) && (!poll.mayMoveVote)
                        for (i <- 0.until(poll.options.length)) yield {
                            val check = resp.map(_.answer).getOrElse(Set.empty[Int]).contains(i)
                            <div class="option">
                                <input type="checkbox" name="answer" value={i.toString} checked={if(check) { "checked" } else { null }}
                                    disabled={if(disable) { "disabled" } else { null }}
                                />
                                <label>{poll.options(i)}</label>
                            </div>
                        }
                    }
                }
                <div>
                    @if(resp.isEmpty || poll.mayMoveVote) {
                        <button class="btn" type="submit">Submit</button>
                    }
                </div>
            </form>

        </div>

        <div class="tab-pane" id="feedbackTab">
            @if(
                (!(tok ask SecurityModel.EditPoll(p)).isEmpty) ||
                (poll.answerVisibility == PollResultsVisibility.afterVote && !resp.isEmpty)
            ) {
                <div class="themeMargin">
                    <table class="table table-striped table-bordered" style="background-color: whitesmoke;">
                        <thead>
                        <tr><th>Answer</th><th>Feedback</th><th>Score</th><th>Yours?</th></tr>
                        </thead>
                        @{
                        for(i <- 0.until(poll.options.length)) yield {
                        <tr>
                            <td>{poll.options(i)}</td>
                            <td>{poll.optFeedback(i)}</td>
                            <td>{poll.optScore(i)}</td>
                            <td>{
                                if (resp.map(_.answer).getOrElse(Set.empty[Int]).contains(i)) {
                                "*"
                                }
                                }</td>
                        </tr>
                        }
                        }
                    </table>
                </div>
            }
        </div>

        <div class="tab-pane" id="resultsTab">
            @if(
                (!(tok ask SecurityModel.EditPoll(p)).isEmpty) ||
                (poll.resultsVisibility == PollResultsVisibility.afterVote && !resp.isEmpty) ||
                (poll.resultsVisibility == PollResultsVisibility.visible)
            ) {
            <div class="themeMargin themeBorderOne">
                <div class="themeCreamBg">
                    <div id="poll-results-@poll.id.toString" class="poll-results">

                    </div>
                </div>
            </div>



            <script>
                window.IBData = {
                		bookId: "@poll.book.getId.get.toString",
                	  pollId: "@poll.id.toString"
                }
            </script>
            @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewPoll").url)

        }
        </div>

    </div>

</div></div>
</div></div>


}

}
