@(
    b:com.wbillingsley.handy.Ref[com.theintelligentbook.ibmodel.mongo.Book],
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(b.toOption.flatMap(_.title).getOrElse("Untitled book")) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">
  	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookChart.css")">

    @headerSmall()
    @b.toOption.map { book =>
    	@subheaderBook(book, tok)

        <div class="topHalf">
    		
    		<div class="row-fluid">

    			<div class="span9">

    				<h3>Chat comments</h3>

    				<div id="brush-time-series">
    				</div>

    				<div class="btn-group">
    					<button class="btn" onclick="javascript: EC.selectAccumTopics()">Topic</button>
    					<button class="btn" onclick="javascript: EC.selectAccumReaders()">Reader</button>    					
    					<button class="btn" onclick="javascript: EC.selectAccumSessions()">Session</button>    					
    				</div>
    				<div id="pie-chart">
    				</div>


    			</div>

    			<div class="span3">
    				<div class="well">
    					<ul class="nav nav-pills nav-stacked">
    						<li><a href=@routes.BookController.viewEventsChart(book.id.toString)>Content views</a></li>
    						<li class="active"><a>Chat Comments</a></li>
    					</ul>
    				</div>

    				<a class="btn" href="updateAggregatedChats">Re-aggregate events</a>

    			</div>

    			

    		</div>
    	</div>
    	
    	<div style="display: none">
    				<div id="chart">
    					<svg>
    					</svg>
    				</div>


    				<h3>Selected</h3>
    				<p>Time: <span id="detail-time"></span>
    				<p>Total: <span id="detail-total"></span>

    				<div class="pie-block">
    					<h4>Nouns</h4>
    					<div id="detail-nouns">
    					</div> 
    				</div>

    				<div class="pie-block">
    					<h4>Topics</h4>
    					<div id="detail-topics">
    					</div> 
    				</div>

    				<div class="pie-block">
    					<h4>Kinds</h4>
    					<div id="detail-kinds">
    					</div> 
    				</div>

    				<div class="pie-block">
    					<h4>Sites</h4>
    					<div id="detail-sites">
    					</div> 
    				</div>

    			
    	</div>

      @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewChatCharts").url)

    }
}