@(
    book:com.theintelligentbook.ibmodel.mongo.Book,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import Ref._; 
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(book.title.getOrElse("Untitled book")) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">

    @headerSmall()
    	@subheaderBook(book, tok)

        <div class="topHalf">
            @snipBookFrontControls(book.itself, tok)

            <div class="coverImage"><img src=@BookController.coverImageUrl(book) alt="cover image"/></div>

            <div class="bookDetails">
                <h1>@book.title.getOrElse("Untitled")</h1>
                <p>
                    <label>Short name:</label>
                    <span id="bookShortName" class="bookShortName">@book.shortName.getOrElse("No short name")</span>
                </p>


                <p>
                    <label>Short description:</label>
                    <span id="bookShortDescription" class="bookShortDescription">@book.shortDescription.getOrElse("Undescribed")</span>
                </p>

                <p>
                    <label>Long description:</label>
                    <span id="bookLongDescription" class="description">@book.longDescription.getOrElse("Undescribed")</span>
                </p>

                <p>
                    <label>Sign up policy:</label>
                    <span class="description">@book.signupPolicy.toString</span>
                </p>

            </div>

        </div>

        <div class="contentTypes">

        </div>
}