@(
    r:com.theintelligentbook.ibmodel.mongo.Reader
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;

@templateFront("Your account") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewSelf.css")">

    @headerSmall()

    <div class="avatar"><img src=@ReaderController.avatarUrl(r) alt="avatar"/></div>

    <div class="details">
        <p>
            <label>Nickname:</label>
            <span>@r.nickname.getOrElse("(Nameless)")</span>
        </p>

        <p>
            <label>Full name:</label>
            <span>@r.fullname.getOrElse("(Nameless)")</span>
        </p>

        <p>
            <label>Email:</label>
            <span>@r.email.getOrElse("(No email)")</span>
        </p>

        <p>
            <label>Site roles:</label>
            <ul>
                @for(role <- r.siteRoles) {
                <li>@{role.toString}</li>
                }
            </ul>
        </p>

        <p>
            <a class="btn btn-primary" href="@routes.ReaderController.editSelf()"><i class="icon-edit"></i> Edit details</a>
        </p>

    </div>


}