@(
    book:com.theintelligentbook.ibmodel.mongo.Book,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader],
    questions:Seq[com.theintelligentbook.ibmodel.mongo.QnAQuestion]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront(book.title.getOrElse("Untitled book")) {

  <script src="@routes.Assets.at("lib/handlebars/handlebars.js")" ></script>
  
  <script src="@routes.Assets.at("lib/timeago/jquery.timeago.js")" type="text/javascript"></script>  
  
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Converter.js")"></script>
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Sanitizer.js")"></script>
  <script src="@routes.Assets.at("lib/pagedown/Markdown.Editor.js")"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/pagedown/demo.css")">  
  
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bookFront.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/qna.css")">

  @headerSmall()
  @subheaderBook(book, tok)

  <div class="ask-button">
    <a class="btn btn-primary" onclick="$('#new-question-modal').modal('show')"><i class="icon-plus"></i> Ask a question</a>      
  </div>  

  <div class="questions-div">

    <h2>Questions</h2>
    
    <div id="question-list">
    
    </div>

  </div>


  <script id="question-list-template" type="text/x-handlebars-template">
    {{#each questions}}
      <div class="row-fluid">
        <div class="span1">{{score}} score</div>
        <div class="span1">{{answerCount}} answers</div>
        <div class="span1">{{views}} views</div>
        <div class="span5">{{qlink title id}}</div>
        <div class="span2">Asked {{time created}}</div>
        <div class="span2">Active {{time updated}}</div>
      </div>
    {{/each}}
  </script>

  <script>
    function checkform(f) {
    	return (f.body.value.trim().length * f.title.value.trim().length) > 0
    }
  </script>

  <div class="modal hide" id="new-question-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Ask a new question</h3>
    </div>
	  <form action="newQuestion" method="POST" enctype="multipart/form-data" onSubmit="return checkform(this)">
	    <div class="modal-body">	    
		    Title: <input type="text" name="title" required/>
		    <div id="wmd-button-bar"></div>
		    <textarea name="body" id="wmd-input" style="min-width: 480px; min-height: 150px;" required></textarea>
		    <h4>Preview:</h4>
		    <div id="wmd-preview">
		    </div>
	    </div>
	    <div class="modal-footer">
	      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
	      <button class="btn btn-primary" type="submit">Ask</button>
	    </div>
	  </form> 
  </div>

  @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewQnaList").url)


}