@(
    poll:TextPoll,
    tok:com.wbillingsley.handy.Approval[com.theintelligentbook.ibmodel.mongo.Reader]
)(implicit request: play.api.mvc.Request[AnyContent])

@import com.wbillingsley.handy._;
@import Ref._;
@import com.theintelligentbook.ibmodel._;
@import com.theintelligentbook.ibmodel.mongo._;


@templateFront("poll " + poll.id.toString) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/fontawesome/css/font-awesome.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/viewPoll.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideThemes1.css")">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oleo+Script|Merienda+One|Prosto+One|Aldrich|Open+Sans' rel='stylesheet' type='text/css'>

<div class="themeCreamBg">
    <div class="themeMargin">
	@if(!(tok ask SecurityModel.EditContent(poll.ce)).isEmpty) {
		<p style="float: right; margin-right: 20px;">
			<button class="btn" onclick="javascript: IBTextPollResults.pushPollToChat('@poll.id.toString');">Push to chat stream</button>
		<p>
	}

	@poll.question.getOrElse("No content")

	</div>
<div class="themeMargin themeBorderOne"><div class="themeBeigeBg themeFourFonts">
<div class="tabbable" >
    <ul class="nav nav-tabs" id="editTools" style="margin-bottom: 0px;">
        <li class="active"><a href="#voteTab" data-toggle="tab">Vote</a></li>
        <li class=""><a href="#resultsTab" data-toggle="tab">Results</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="voteTab">

            <form action="@routes.PollController.addTextPollAnswer(poll.id.toString)" method="POST" enctype="multipart/form-data">
                <div class="row-fluid">
                  <textarea class="span12" name="answer" required placeholder="Type your answer here"></textarea>      
                </div>          
                <button class="btn" type="submit">Submit</button>
                
            </form>

        </div>

        <div class="tab-pane" id="resultsTab">
          <div id="text-poll-results-@poll.id.toString" class="results">
          
          </div>        
          
          <div class="modal hide fade" id="results-list-@poll.id.toString">
            <div class="answers text-poll-answers"></div>          
          </div>
          
          <script>
                window.IBData = {
                		bookId: "@poll.book.getId.get.toString",
                	  pollId: "@poll.id.toString"
                }                
          </script>
          @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/viewTextPoll").url)
          
        </div>

    </div>

</div></div>
</div></div>


}
