@()(implicit request: play.api.mvc.Request[AnyContent])

@templateFront("theIntelligentBook.com") {

@headerFront()

<div class="bookRow" style="text-align: center; margin: 20px;">
    <div class="alert alert-info" style="display: inline-block;">
        We're looking for some early adopters for the alpha version. Interested in using the Intelligent Book on your course? Get in touch!
    </div>
</div>

<div class="bookRow" style="text-align: center;">
    <div style="display: inline-block; vertical-align: top;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://theintelligentbook.com/about" data-size="large" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div style="display: inline-block; vertical-align: top;">
        <a href="https://twitter.com/theintelligentb" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@theintelligentb</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div style="display: inline-block; vertical-align: top;">
    <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-annotation="none"></div>

        <!-- Place this tag after the last +1 button tag. -->
        <script type="text/javascript">
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
    </div>
    <div style="display: inline-block; vertical-align: top;">
    <!-- Place this code where you want the badge to render. -->
        <a href="//plus.google.com/107080092090694428420?prsrc=3" rel="publisher" style="text-decoration:none;">
            <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
    </div>
</div>

<div class="bookRow">

    <div style="text-align: center;">
        <div style="display: inline-block; margin-right: 20px; margin-top: 20px; vertical-align: middle; ">
            <div rel="W9K3OEKT" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="theintelligentbook.com/about" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
        </div>
        <div style="display: inline-block; margin-right: 20px; margin-top: 20px; vertical-align: middle; ">
            <iframe width="640" height="360" src="http://www.youtube.com/embed/zBgGeAwb_jY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <!--
        <div style="display: inline-block; margin-right: 20px; margin-top: 20px; vertical-align: middle; max-width: 200px;">
            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
                new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 'auto',
                height: 300,
                theme: {
                shell: {
                background: '#333333',
                color: '#ffffff'
                },
                tweets: {
                background: '#000000',
                color: '#ffffff',
                links: '#4aed05'
                }
                },
                features: {
                scrollbar: true,
                loop: false,
                live: false,
                behavior: 'all'
                }
                }).render().setUser('theintelligentb').start();
            </script>
        </div> -->

    </div>

</div>

}

